body {font-size: 16px; font-family:'Open Sans', sans-serif; background:#fff;position:relative;}
h1,h2,h3,h4,h5,h6{font-family: Arial, sans-serif;}
p{color: #9499af;font-size: 16px;}
section{display: block;}
.section {margin: 0;padding: 0;width:100%;clear: both;}
.section .container:after{clear: both;}
.section img.img-responsive {margin: 0 auto;max-width: 100%;}
body a{text-decoration: none; color:#113949;}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}
.carousel-control {
    z-index: 2;
    width: 5%;
    overflow: hidden;
}
.no-paddings,
.no-paddings .row > div{padding:0;}
.keep-words{
    word-break: keep-all; /*this stops the word breaking*/
    display:inline-table;
}
.align-right{text-align:right;}
.align-left{text-align:left;}
.align-center{text-align: center;}
.align-justify{text-align: justify;}
/* Header section*/


/* Top menu */

.site-header {
    height: 84px;
    padding-top:40px;
    position: relative;
    z-index: 100;
    background: #fff;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #9499af;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
    min-height: 50px;
}
@media (min-width: 767px) {
    .site-header {
        height: auto;
        padding-top:0px;
        border-bottom:1px solid #d9d9d9;
    }
    .site-header .container{position: relative;}
    .top-menu-logo {
        position: absolute;
        top: 0;
        left: 15px;
    } 
    .top-menu-logo img{height:44px;position: relative;z-index: 10;}

    .top-menu {
        position: relative;
        font-family: Arial, sans-serif;
        background: #fff;
    }

    .top-info{margin: 15px 0;}
    .site-header .navbar-nav{float:none;text-align: right;}
    .site-header .navbar-nav>li{float:none;display: inline-block;}
    .site-header .navbar-nav>li:last-child{background: none;}
    .site-header .navbar-nav>li>a{padding: 10px 15px; color: #1fadc5;font-size: 14px;text-transform: uppercase;border-top:4px solid #fff;}
    .site-header .sub-menu-desc{color: #fff;font-style: italic;font-size: 14px;font-family: "Times New Roman", Times, serif;}
    .site-header .nav>li>a:hover,.site-header .nav>li>a:focus, .site-header .nav>li:hover > a{/*background: #1fadc5;*/ color:#FF8000;border-bottom:2px solid #FF8000;}
    .site-header .nav>li:hover .sub-menu-desc{color:#f0fa7d;}
    
    .site-header .homemenu.navbar-nav>li{position: relative;}
    .site-header .homemenu.navbar-nav>li ul{position: absolute;top:99%;left:0;background: #fff;margin: 0;padding:0;list-style: none;text-align: left;width: auto;display: none}
    .site-header .homemenu.navbar-nav>li ul a{display: block;padding:10px 15px;border-top: 1px solid #d9d9d9;font-size: 13px;text-decoration: none;}
    .site-header .homemenu.navbar-nav>li:hover ul{display: block;}
}

@media (max-width: 767px) and (min-width: 767px) {
    .site-header .navbar-nav{float:left;}
    .site-header .navbar-nav>li{margin-right: 0;padding:0 45px 0 10px;}
}

.breadcrumb{margin-bottom:10px;}
.navbar-brand>img{width:100px}
@media (max-width: 767px) {
    .site-header {
        height: 52px;
        padding-top:0px;
        background:#008fd5;
    }
    .navbar-nav{margin-top:0;}

}
@media (max-width: 767px) and (min-width: 767px) {
    .site-header {
        height: 54px;
    }
    .navbar-brand>img{height:54px;width: auto;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color: #008fd5;}
    .navbar-default{background: #008fd5;border-color: #008fd5;}
    .navbar-brand{padding:0;}
    .navbar-default .navbar-nav>li>a{color:#fff;}
}
@media (max-width: 767px) {
    .site-header {
        height: 50px;
        padding-top:0px;
    }
    .navbar-nav{margin-top:0;}
    .navbar-brand{padding:0;}
    .navbar-brand>img{height:50px;width: auto;}

}

/* Site block */
.site-block{}

/* Site top 1 */
.site-top-1{overflow: hidden;position: relative;}
.site-top-1 .carousel-content{position: absolute;top:0;left: 0%;z-index: 1;width:50%;background:rgba(0,0,0,0.5);height: 100%;}
.site-top-1 .carousel-content h2{font-size: 30px;color: #fff;text-transform: uppercase;}
.site-top-1 .carousel-sub-desc{text-align: center;margin-top: 30%; width:70%;margin-left: auto;margin-right: auto;}
@media(min-width:767px){
    .site-top-1 .carousel img.img-responsive{width:100%;}
}
@media (max-width: 767px) {
    .site-top-1 .carousel-indicators, .carousel-caption{display: none;}
    .site-top-1 .carousel-sub-desc{display: none;}
    .site-top-1 .carousel-sub-desc{margin-top: 10%;}
    .site-top-1 .carousel-content{display: none;}

}
@media (max-width: 767px) {

}

.site-top-12 {
    background: #000;padding:50px 0;
    background: url('~/Content/Image/Common/bg.jpg') no-repeat scroll 0% 0% / 100% auto;
}

.site-top-12 .line1{margin-bottom: 20px;}
.site-top-12 .footer-item{
    text-align: center;padding:10px 15px;border:1px dotted #d9d9d9;
    color:#fff;
    font-size:12px;
    text-transform: uppercase;
}
.site-top-12 .footer-item .fa{font-size:20px;}
.site-top-12 .footer-item p{margin: 0;}
.site-top-12 .footer-item:hover{
    background: rgba(255,255,255,0.1)
}
.site-top-12 a:hover{text-decoration: none;}

@media(max-width:767px){
    .site-top-12 .line1{margin-bottom:0;}
    
    .site-top-12{
        padding-top:20px;
        background: url('Image/Common/bg.jpg') no-repeat scroll 0% 0% / auto 100%;
        padding-bottom: 0;
    }
    .site-top-12 .footer-item{color:#fff;border:1px dotted #d9d9d9;margin-bottom:10px;}
}

.site-top-13{background: #fff;text-align: center;padding:5px 0;}
.site-top-13 p{margin: 0;font-size:11px;}
@media(max-width:767px){
    .site-top-13{background: #363636;}
    .site-top-13 p{color:#fff;}
}

.site-top-2{
    text-align: center;
    padding:20px 0 50px 0;
    background: #f3f3f3;
    border-bottom:1px solid #d9d9d9;
}
@media(max-width:767px){
    .site-top-2{padding:10px 0;}
}
.site-top-2 h1{text-transform: uppercase;color:#1fadc5;font-family: 'Handlee'}
.site-top-2 .about-block{padding:10px; border:1px solid #d9d9d9;border-radius: 5px;background: #fff;}

.site-top-3{text-align: center;padding:20px 0 50px 0;border-bottom: 1px solid #d9d9d9;}
.site-top-3 h2{text-transform: uppercase;color:#1fadc5;font-family: 'Handlee'}
.site-top-3 .item .img-responsive{padding:3px; border:1px solid #d9d9d9;}
.site-top-3 .item .img-responsive:hover{opacity: 0.8;background: #363636;}
@media(max-width:767px){
    .site-top-3 .item{margin-bottom:20px;}
}

.site-main{padding:20px 0;}
.login-block{padding:20px;border:1px solid #d9d9d9;font-size:12px;}
.login-block h1{
    margin: 0;text-transform: uppercase;border-bottom: 1px solid #d9d9d9;margin-bottom:10px;padding-bottom:10px;
    font-size:18px;font-weight: bold;
}
.login-block .fb-button{background: #537cbe;border-color: #537cbe;color:#fff;}
.login-block .gplus-button{background: #e9654c;border-color: #e9654c;color:#fff;}
#imagePreview {
    height: 250px;
    width: 250px;
}
#lblGender {
    margin-right: 20px;
}

.label-error {
    color: red;
}
/*manage account  */ 
.box_left {
    width: 250px;
    float: left;
}
.box_right {
    width: 850px;
    float: right;
}
.profile_info {
        padding: 25px 0 15px 20px;
        background-color: #faf8f1;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }

.profile_img {
    width: 200px;
    height: 200px;
    background-image: url(../Image/Common/avatar2.png);
    border-radius: 3px;
}

.profile_left {
    width: 100px;
    float: left;
}

.profile_right {
    width: 180px;
    float: right;
    margin-bottom: 10px;
}

.profile_name {
    color: #84c52c;
    text-transform: uppercase;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 0;
    width: 150px;
    overflow: hidden;
    font-size: 14px;
}

.profile_action {
    margin-bottom: 10px;
}
.profile_money {
    background-color:#f4f0e2;
    padding: 7px 5px 7px 15px;
}
.profile_menu {
    margin: 2px 5px 2px 15px;
}
.profile_edit {
    background: url('/Image/ic_edit.png') 0 2px no-repeat;
    text-decoration: none;
    color: #a9834f;
    font-style: italic;
    font-size: 12px;
    padding-left: 20px;
    line-height:26px;
}
.profile_edit:hover {
    text-decoration: underline;
}
.profile_page {
    background: url('/Image/ic_user4.png') 0 2px no-repeat;
    text-decoration: none;
    color: #a9834f;
    font-style: italic;
    font-size: 12px;
    padding-left: 20px;
    line-height:21px;
}
.profile_page:hover {
    text-decoration: underline;
}
.profile_item {
    font-weight: bold;
    height: 33px;
    width: 250px;
    color: #33C0D9;
    padding-left: 25px;
    padding-top: 12px;
    font-size: 14px;
    background-position: right 25px top 16px;
    background-repeat: no-repeat;
    margin: 0px;
}
.profile_item:hover {
    background-color: #faf8f1;
    color: #FF8000;
}
.profile_item span {
    color: #ff8401;
}
#dropdownMenuLink {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
}
.profile_link {
    color: #8c6635;
    text-decoration: none;
}
.profile_btn {
    margin: 0px 20px 10px 0px;
}
.profile_btn .width125 {
    width: 125px;
}
.title_box {
    background-color: #f4f0e2;
    border-radius: 3px;
    height: 45px;
}
.title2 {
    color: #33C0D9;
    float: left;
    font-size: 18px;
    margin: 12px 0 0 20px;
    text-decoration: none;
/*    text-transform: uppercase;*/
    font-weight: normal;
}
.option_view_small {
    border-radius: 3px;
    height: 30px;
    width: 60px;
    float: right;
    margin-top: 7px;
    background-color: white;
    margin-right: 20px;
}
.option_base_select_small {
    background: url(../Image/Common/ic_base2.png) 8px 8px no-repeat #a9834f;
    width: 30px;
    height: 30px;
    border: none;
    float: left;
    border-radius: 3px 0 0 3px;
}
.option_detail_small {
    background: url(../Image/Common/ic_detail1.png) 6px 8px no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0 3px 3px 0;
}
.search_textbox_small_margin {
    margin: 7px 20px 0 0;
}
.search_textbox_small {
    height: 28px;
    border-radius: 3px;
    font-size: 14px;
    color: #a9834f;
    padding-left: 20px;
    padding-right: 35px;
    float: right;
    border: none;
    background: url(../Image/Common/ic_search_small1.png) #ffffff;
    background-position: right 15px top 9px;
    background-repeat: no-repeat;
    -webkit-transition: width 1s;
    transition: width 0.3s;
    width: 190px;
}
.btnSearch_hide {
    display: none;
}

/*VARIETY*/
.content-section-a {
	background-color: #f8f8f8;
	padding: 30px 0;
	margin-top: 20px;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 30px 0; 
}
.img-koi-variety {
   height: 250px; 
   width: 200px; 
   overflow: hidden; 
}
.img-koi-list {
   height: 200px; 
   width: 200px; 
   overflow: hidden; 
}
.section-heading {
	margin-bottom: 20px;
	font-style: normal;
	color: #00007f;
	font-size: 35px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}
.list-variety {
	padding-bottom: 30px;
}
.list-variety .list-box {
	border-top: dotted 2px;
	border-bottom: dotted 2px;
	color: #3377ff;
    padding-top: 5px;
}
.list-variety li {
	list-style-type: circle; 
	color: #3377ff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-variety a {
	color: #3377ff;
}
/*END VARIETY*/
/*KOI DETAIL*/
.img-koi-detail {
   height: 500px; 
   width: 350px; 
   overflow: hidden; 
}
.title-koi-name {
    margin-bottom: 20px;
    margin-top: 25px;
	color: red;
	font-size: 200%;    
}
.lead {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
}
/*END KOI DETAIL*/
/*LIST KOI*/
.glyphicon-star {
    color: #F7FE2E;
}
#gender {
    width:150px; 
    margin-left:10px;
}
#variety {
    width:150px; 
    margin-left:40px;
}
.koi-size {
    width:55px;
    margin-left:5px;
    margin-right:5px;
}
.searchForm {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	border: 1px solid #01A9DB;
	border-radius: 1%;

}
.koi-year-old {
    width:50px;
    margin-left:3px;
    margin-right:3px;
}
.input-search {
    width:100px;
}
#lbl-year-old {
    margin-right: 48px;
}
#lbl-variety {
    margin-right: 12px;
}
#lbl-gender {
    margin-right: 12px;
}
#btnSearch{
    margin-left: 35%;
    text-align: center;
}
#lbl-koi-name {
    margin-right: 62px;
}
#lbl-owner {
    margin-right: 10px;
}
#lbl-user-name {
    margin-right: 33px;
}
.btn-select-list-koi {
    margin-bottom: 13px;
    margin-top: 20px;
}
/*END LIST KOI*/
/*KOI USER*/
.setting-icon{
	background: url("../Content/Image/Common/setting.png") no-repeat scroll 0 0 transparent;
  color: #000000;
  border: 0px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 20px;
  margin-top: -10px;
}
.btn-Add-Koi {
    margin-top: 30px;
    margin-bottom: 15px;
}
/*END KOI USER*/
.thumb-image {
    float:left;
    width:100px;
    position:relative;
    padding:5px;
}
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 32px;
  height: 20px;
  width: 20px;
  background-image: url("../Content/Image/Common/x-icon.png") no-repeat scroll 0 0 transparent;
}
.remove:hover {
}
