@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,900,800,700,600,500);
/** general **/
body { font-family: "Times New Roman", Georgia, Serif; color: #656565; font-size: 13px; }
a { color: #333333; text-decoration: none; -webkit-transition: 0.25s; -moz-transition: 0.25s; -o-transition: 0.25s; transition: 0.25s; -webkit-backface-visibility: hidden; outline: 0; font-family: "Times New Roman", Georgia, Serif;}
a:hover { color: #453951; text-decoration: none; outline: none; }
a:focus { text-decoration: none; outline: 0px; }
.banner_header { text-shadow: 1px 1px 1px #333333; }
h1 { font-size: 42px; font-weight: 800; line-height: 50px; line-height: normal; margin: 0; }
h2 { font-size: 32px; font-weight: 800; line-height: 40px; text-transform: uppercase; color: #333; line-height: normal; margin: 0 0 20px 0; }
h3 { font-size: 20px; font-weight: 300; line-height: 30px; text-transform: uppercase; line-height: normal; margin: 0 0 15px 0; }
h4 { font-size: 16px; font-weight: 600; color: #333333; line-height: 30px; line-height: normal; margin: 0 0 15px 0; }
h4 span { font-weight: 300;  }
h5 { font-size: 16px; font-weight: 700; line-height: 30px; line-height: normal; margin: 0 0 20px 0; }
h6 { font-size: 14px; font-weight: 700; line-height: 30px; line-height: normal; margin: 0 0 20px 0; }
h1, h2, h4, h5, h3, h6 { color: #333333; font-family: "Times New Roman", Georgia, Serif;} 
p { margin-bottom: 15px; font-size: 13px; color: #656565; line-height: 20px; font-family: "Times New Roman", Georgia, Serif;}
blockquote footer, blockquote small, blockquote .small { color: #453951; }
hr { margin: 20px 0; border-color: #e5e5e5; }
.form-control { border-color: #999999; }
.bs-glyphicons-list li { width: 33%; float: left; }
.bs-glyphicons-list li span { margin-right: 5px; font-size: 15px; }
.bs-glyphicons-list { padding: 0px; list-style: none; font-size: 14px; width: 100%; overflow: hidden; }
.bs-example-bg-classes p { padding: 15px; }
.bg { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(47, 54, 64, 0.4); }
ol li { margin: 0 !important; }
img { max-width: 100%; }
span.overlay { position: absolute; left: 0; top: 0; display: block; height: 100%; width: 100%; background-color: rgba(47, 54, 64, 0.5); opacity: 1; transform: none; visibility: visible; }
.categories { padding-bottom: 40px; }

.pagination > li > a:hover, .pagination > li > a.active { color: #fff; background: #2F3640; }
.pagination > li > a, .pagination > li > span { padding: 6px 10px; color: #333; border-radius: 0 !important; border: none; background: #eeeeee; }
.pagination > li { margin: 0 2px; float:left; }

ul#accordion { padding: 0 0 20px 0; overflow: hidden; margin: 0; list-style: none; }
ul#accordion li { padding: 0px; border-radius: 0; border: none; float: left; width: 100%; }
ul#accordion li .panel-collapse { border: 1px solid #CCCCCC; border-top: none; }
ul#accordion li .panel-collapse .gap { padding: 10px 0; }
ul#accordion.panel-group .panel { border-radius: 0; }
ul#accordion li .top { padding: 0px; min-height: 46px; color: #777777; font-size: 13px; cursor: pointer; line-height: 20px; }
ul#accordion li .top a { padding: 10px 0 10px 15px; display: block; color: #fff; }
ul#accordion li .top i { font-size: 11px; line-height: 20px; display: block; text-align: center; }
ul#accordion li .top span.minus { display: block; color: #000; }
ul#accordion li .top span.plus { display: none; }
ul#accordion li .top .collapsed span.minus { display: none; }
ul#accordion li .top .collapsed span.plus { display: block; }
ul#accordion .panel-default > .panel-heading { line-height: 28px; color: #fff; border-color: #363636; background: #727C89; }
ul#accordion li a.collapsed { color: #fff; background: #01cfca; }
ul#accordion li a { background: #2F3640; color: #fff; border-color: #2F3640; font-size: 16px; }
ul#accordion li .top span { text-align: center; color: #868686; line-height: 22px; font-size: 9px; font-weight: normal; font-family: Arial; border-radius: 30px; -webkit-border-radius: 30px; margin-right: 20px; margin-top: 3px; width: 22px; height: 22px; background: #fff; display: block; float: left; }
ul#accordion li p { padding: 5px 12px; margin: 0px; }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus { background: #00A9E0; color: #fff; border-color: #00A9E0; }
a .overlay { opacity: 0; transition: all 0.3s; -webkit-transition: all 0.3s; }
a:hover .overlay { opacity: 10; }

/* Buttons */
.btn { border: none; border-bottom: 2px solid #2f3640; text-decoration: none; font-size: 15px; border-radius: 0; text-transform: none; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-transition: 0.25s; -moz-transition: 0.25s; -o-transition: 0.25s; transition: 0.25s; -webkit-backface-visibility: hidden; outline: 0; color: #fff; }
.btn:hover, .btn.active { color: #fff; border-color: #2f3640; background: #2f3640; }
.btn-default { background: #2f3640; color: white; border-color: #01cfca; font-size: 14px; border-radius: 0; }
.btn-lg, .btn-primary { color: #fff; }
.btn-danger { color: #fff; }
.form-control { border-radius: 0; }
.btn-default i { font-size: 16px; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {  background: #01cfca; color: #fff; border-color: #01cfca;}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background: #01cfca; border-color: #01cfca; }
.btn-primary:hover { background: #2f3640; color: #fff; border-color: #2f3640; }
.btn-outline-inverse { border: 2px solid #fff; color: #fff; background: rgba(0, 0, 0, 0.0); }
.btn-outline-inverse:hover { background: #fff; color: #453951; border: 2px solid #fff; }
.btn-outline-inverse:hover, .btn-outline-inverse:focus { background: #fff; color: #453951; }

.tags { padding-bottom: 30px; overflow: hidden; }
.tags ul { padding: 0px; margin: 0px; list-style: none; }
.tags li { padding: 0 5px 5px 0; float: left; }
.tags li a { padding: 3px 9px; display: block; border-radius: 4px; text-transform: uppercase; font-size: 13px; line-height: 23px; border: 1px solid #FB4400; background: #FB4400; color: #fff; }
.tags li a i { padding-right: 5px; }
.tags li a:hover { background: #952800; color: #fff; border-color: #952800; }

.nav-tabs { border: none; }
.nav-tabs > li > a { text-transform: none; border: none; font-weight: 700; border-radius: 0; color: #fff; background: #2f3640; }
.nav-tabs > li > a span { font-size: 12px; width: 20px; height: 20px; line-height: 20px; color: #393a3b; text-align: center; display: inline-block; margin-right: 5px; border-radius: 50px; background: #fff; }
.nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus { border: none; color: #000; background: #f0f0f0; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border: none; background: #f0f0f0; }
.tab-content { padding: 20px; overflow: hidden; background: #f0f0f0; }

.social { padding: 0px; list-style: none; margin-top: 0; }
.social li a { padding: 0; text-align: center; display: block; color: #fff; line-height: 30px; height: 30px; font-size: 14px; text-align: center; width: 30px; background: none; }
.social li a:hover { color: #000; background: none; }
.social li a i { font-size: 15px; }
.social li { padding-left: 3px; float:left; }
.social ul { list-style: none; float: right; margin-top: 0; }
.links ul { padding: 0; }
.links li { padding: 0px; width: 100%; line-height: 26px; font-size: 14px; }
.links li a i { font-size: 12px; line-height: 28px; display: block; float: left; margin-right: 10px; }
.links li a:hover { color: #01CFCA; }

header { position: fixed; transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; z-index: 99999; width: 100%; border-bottom: 1px solid #e6e6e6; background: rgba(39, 45, 53, 1); }
header.fix .navbar-brand { font-size: 31px; margin-top: 10px; line-height: 36px; }
header.fix .navbar-nav > li > a { padding: 15px 10px; }
navbar-collapse { padding-right: 0px; }
.navbar-nav > li > a { position: relative; transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; padding: 25px 15px; text-transform: uppercase; border-top: 3px solid #272d35; font-size: 13px; color: #fff; font-weight: 400; background: none; }
.nav > li > a:hover, .nav > li > a:focus { color: #01cfca; background: #2f3640; border-top: 3px solid #01cfca; }
.navbar-nav > li > a:hover, .navbar-nav > li.open > a, .navbar-nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus { color: #01cfca; background: #2f3640; border-top: 3px solid #01cfca; }
.navbar-brand { padding: 0px; font-weight: 800; color: #fff !important; margin: 15px 0 0 15px; height: auto; display: block; line-height: 40px; float: left; font-size: 40px; text-transform: uppercase; }
.navbar-brand i { color: #fb4400; font-size: 38px; margin-right: 10px; }
.navbar-nav > li > .dropdown-menu { box-shadow: none; border: none; box-shadow: none; background: #01cfca; }
.navbar-nav .dropdown-menu > li:first-child { border: none; }
.navbar-nav .dropdown-menu > li > a { padding: 2px 13px; font-weight: 400; line-height: 30px; color: #fff; text-transform: none; }
.navbar-nav .dropdown-menu > li > a:hover { color: #fff; background: #2f3640; }

/* title Area */
#titleArea { padding: 110px 0 20px; position: relative; overflow: hidden; }
#titleArea h3 { padding-top: 20px; }
#titleArea h4 { text-transform: uppercase; font-weight: 700; }
#titleArea p { font-size: 15px; color: #333; line-height: 22px; }
#titleArea { }
#titleArea { }
#titleArea { }

/* banner Area */
#bannerArea { padding: 0; height: 740px; position: relative; overflow: hidden; background-image: url(../images/2.jpg); background-color: #fff; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-background-size: widthpx heightpx; -webkit-background-size: 1900px 2000px; }
#bannerArea .jumbotron { padding: 25% 5% 0; z-index: 99; position: relative; background: none; }
#bannerArea h3 { color: #fff; }
#bannerArea h2 { color: #fff; font-size: 78px; line-height: 60px; }
#bannerArea p { color: #fff; }

/* service Area */
#serviceArea { padding: 50px 0 30px; width: 100%; overflow: hidden; background: #2F3640; } 
#serviceArea .col-md-4 { margin-bottom: 20px; }
#serviceArea h3 { padding-bottom: 10px; margin:0; margin-left: 65px; color: #fff; font-size: 24px; font-weight: 700; }
#serviceArea i { color: #fff; font-size: 44px; margin: 0 15px 0px 0; float: left; }
#serviceArea p { color: #fff; margin-left: 65px; }
#serviceArea h2 { color: #fff; margin-bottom: 40px; }

/* works Area */
.worksArea { padding: 40px 0; width: 100%; overflow: hidden; background: #fff; } 
.worksArea .col-sm-4 { margin-bottom: 20px; }
.worksArea p { padding-bottom: 20px; font-size: 15px; line-height: 22px; color: #333333; margin-bottom: 10px; }
.worksArea a:hover { opacity: 0.5; }
.worksArea h4 { text-transform: uppercase; font-weight: 300; margin: 20px 0 0; }

/* people Area */
#peopleArea { padding: 50px 0 0 0; height: 420px; position: relative; overflow: hidden; background-image: url(../images/image_1900x2000.jpg); background-color: #fff; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-background-size: widthpx heightpx; -webkit-background-size: 1900px 2000px; }
#peopleArea h2 { color: #fff; }
#peopleArea .container { position: relative; z-index: 3; }
#peopleArea h3 { padding: 15px 20px 10px 5px; text-transform: none; color: #fff; border-top: 1px solid #75cfb2; float: left; }
#peopleArea h3:before { content: "— "; }
#peopleArea p { padding: 0 0 20px 40px; color: #fff; font-size: 20px; line-height: 24px; position: relative; }
#peopleArea p:before { content: "“"; opacity: 0.5; font-size: 05em; position: absolute; left: 0px; top: 30px; }
#peopleArea .btn { padding: 0; width: 50px; height: 50px; line-height: 50px; text-align: center; font-size: 18px; border-radius: 100px; }

.textArea { overflow: hidden; }
.textArea .slider { padding-bottom: 20px; }
.textArea .text { padding-bottom: 30px; }
.textArea h2 { margin-bottom: 20px; }
.textArea p { margin-bottom: 20px; color: #333333; font-size: 14px; }
.textArea .block { border-left: 3px solid #E8E8E8; line-height: 20px; margin: 20px 0 20px 15px; padding-left: 20px;}
.textArea .block p { color: #AFAFAF; }

/* address Area */
.addressArea { padding: 40px 0; width: 100%; overflow: hidden; background: #eeeeee; } 
.addressArea p { padding-bottom: 20px; font-size: 15px; line-height: 22px; color: #333333; margin-bottom: 10px; }
.addressArea address { padding-bottom: 20px; font-size: 15px; line-height: 22px; color: #333333; margin-bottom: 10px; }
.addressArea .form-control { border: none; margin-bottom: 10px; border-bottom: 2px solid #d6d6d6; height: 42px; background: #fff; }
.addressArea textarea.form-control { height: auto; }

.blog_post .image { overflow: hidden; margin-bottom: 20px; }
.blog_post .image a { display: block; position: relative; }
.blog_post .date { padding: 15px 0; border-radius: 80px; margin-right: 0; width: 70px; color: #fff; text-transform: uppercase; background: #2F3640; }
.blog_post .date span { padding: 0px; display: block; margin: 0px; text-align: center; font-weight: 700; font-size: 14px; line-height: 20px; }
.blog_post .date cite { padding: 0px; display: block; margin: 0px; color: #fff; text-align: center; font-style: normal; font-size: 10px; line-height: 20px; }
.blog_post h2 { font-weight: 700; font-size: 28px; }
.blog_post h2 a:hover { color: #01CFCA; }
.blog_post .btn i { font-weight: 300; font-size: 13px; }
.blog_post .post-meta span { padding: 10px 0 0; display: block; float: left; line-height: 20px; color: #27528C; margin-right: 5px; font-size: 12px; }
.blog_post .post-meta span a { color: #27528C; }
.blog_post .post-meta span i { color: #aaaaaa; margin-right: 5px; }
.blog_post .post-meta a.btn { padding: 3px 8px; font-size: 13px; }
.blog_post .col-sm-10{ padding-left: 0px; }

.recent { overflow: hidden; }
.recent li { padding: 10px 0px; border-top: 1px dotted #aaa; }
.recent li:first-child { padding-top: 0; border: none; }
.recent li a { display: block; font-weight: 700; text-transform: uppercase; color: #333; }
.recent li a:hover { color: #01CFCA; }

.comments { padding-right:10px; overflow: hidden; margin: 30px 0; }
.comments .thumbnail { padding: 15px; }
.comments a { font-size: 14px; }
.comments span { display: block; color: #AAAAAA; font-size: 14px; }
.comments .line { padding: 10px 0 0; margin-top: 10px; border-top: 1px dotted #aaa; overflow: hidden; }
.comments { }

/* Contact Area */
#contactArea { padding: 0px 0 30px; background: #fff; }
#contactArea #map { margin: 0 0 40px 0; }
#contactArea #map_canvas { height: 400px; width: 100%; clear: both; }
#contactArea .btn { padding: 5px 25px; float: none; margin: 0 auto; display:block; }
#contactArea .form-control { padding: 5px 10px; height: 45px; margin-bottom: 15px; border-color: #EFEFEF; }
#contactArea .form-control:focus { color: #333; }
#contactArea textarea.form-control { height: auto; }
#contactArea address { line-height: 20px; color: #333; }

/* subscribe Area */
#subscribeArea { padding: 50px 0 0 0; height: 340px; position: relative; overflow: hidden; background-image: url(../images/image_1900x2000.jpg); background-color: #fff; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-background-size: widthpx heightpx; -webkit-background-size: 1900px 2000px; }
#subscribeArea h2 { color: #fff; }
#subscribeArea h3 { font-size: 24px; color: #fff; }
#subscribeArea p { font-size: 14px; color: #fff; }
#subscribeArea .container { position: relative; z-index: 3; }
#subscribeArea .subscribe-form { margin: 20px auto; overflow: hidden; width: 600px; }
#subscribeArea .form-control { width: 87%; height: 36px; float: left; }
#subscribeArea { }
#subscribeArea { }

/* footer Area */
#footerArea { padding: 20px 0; width: 100%; overflow: hidden; background: #272d35; }
#footerArea li a { color: #fff; font-size: 12px; }
#footerArea li { padding-right: 10px; }
#footerArea li a:hover { color: #FF4D50; }
#footerArea .social li { padding: 0 0 0 10px; }
#footerArea .social li a { border: 2px solid #fff; border-radius: 20px; }
#footerArea .social li a:hover { border-color: #FF4D50; color: #FF4D50; }
#footerArea ul { margin: 0; }
#footerArea p { color: #fff; font-size: 12px; margin: 0; }
#footerArea { }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) and (max-width: 1224px) {

	}


	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.navbar-nav > li > a { padding-left: 6px; padding-right: 6px; font-size: 12px; }
	header.fix .navbar-nav > li > a { padding: 15px 6px; }
	
	h2 { margin-bottom: 0; font-size: 36px; line-height: 50px; }
	h3, .blog_post h2 { font-size: 20px; line-height: 26px; }
	#serviceArea h3 { font-size: 18px; }
	#serviceArea p { line-height: 18px; }
	#serviceArea i { font-size: 40px; margin-bottom: 100px; }
	.bs-glyphicons-list li { width: 48%; font-size: 14px; color: #333; }
	.comments { margin: 15px 0; } 
	.categories h3 { margin-bottom: 5px; }
	.recent li a { font-size: 14px; } 
	.links li, .links li a i { line-height: 22px; }
	.comments .thumbnail { padding: 10px; }
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	h2 { margin-bottom: 0; font-size: 30px; line-height: 40px; }
	h3, .blog_post h2 { font-size: 20px; line-height: 26px; }
	header.fix, header { padding-bottom: 15px; position: static; }
	header .col-sm-3 { overflow: hidden; float: none !important; }
	header .pull-right { float: none !important; }
	.navbar-nav > li > a, header.fix .navbar-nav > li > a { padding: 8px 10px; }
	.navbar-nav { margin-top: 0; }
	.navbar-header { float: right; }
	.navbar-brand, header.fix .navbar-brand { font-size: 32px ; margin: 15px 0 0 15px; }
	.navbar-toggle { background: #fff; margin: 16px 0 0 0; }
	.navbar-toggle .icon-bar { background: #272D35; }
	.pagination > li > a, .pagination > li > span { padding: 5px 8px }
	.bs-glyphicons-list li { width: 98%; color: #333; }
	.bs-glyphicons-list li span { font-size: 13px; }
	#serviceArea h3 { font-size: 18px; }
	#serviceArea p { line-height: 18px; }
	#bannerArea h2 { font-size: 35px; line-height: normal; }
	.comments { margin: 15px 0; } 
	.categories h3 { margin-bottom: 5px; }
	.recent li a { font-size: 14px; } 
	.links li, .links li a i { line-height: 22px; }
	.comments .thumbnail { padding: 10px; }
	.list-inline > li { width: 100%; }
	.worksArea a { width: 80%; margin: 0 auto; display: block; }
	
	#footerArea ul { list-style: none; width: 100%; text-align: center; margin: 0 auto; }
	#footerArea li { padding: 0; }
	#footerArea ul { width: 100% !important; margin-bottom: 20px; }
	#footerArea .social { list-style: none; width: 100%; text-align: center; margin: 0 auto 10px; }
	#footerArea p { text-align: center; }
	#footerArea .social li { padding: 0 5px; float: none; width: auto; display: inline; }
	#footerArea .social li a { display: inline-block; }
	#contactArea h3 { margin-bottom: 10px; }
	.blog_post .col-sm-10 { padding-left: 15px; }
	.blog_post .date { margin-bottom: 10px; }
	#contactArea .col-sm-7 { padding-bottom: 30px; }
	#contactArea h4 { font-size: 18px; }
	#titleArea { padding: 25px 0 10px; }
	#subscribeArea .subscribe-form { width: auto; }
	#subscribeArea .form-control { width: 100%; margin-bottom: 10px; }
	#subscribeArea h3 { font-size: 18px; }

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

	 }
.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}
	/* Footer*/
	#footer-logo {color: white}
	i.fa-envelope{
 		font-size: 17px;
  		line-height: 38px;
	}
	p span{
  		display:block;
  		font-weight: normal;
  		font-size:14px;
  		line-height:2;
	}
/*Content*/
.content-section-a {
	background-color: #f8f8f8;
	padding: 30px 0;
	margin-top: 20px;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 30px 0; 
}
.img-koi-variety {
   height: 250px; 
   width: 300px; 
   overflow: hidden; 
}
.img-koi-list {
   height: 200px; 
   width: 200px; 
   overflow: hidden; 
}
.section-heading {
	margin-bottom: 20px;
	font-style: normal;
	color: #00007f;
	font-size: 35px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}
.list-variety {
	padding-bottom: 30	px;
}
.list-variety .list-box {
	border-top: dotted 2px;
	border-bottom: dotted 2px;
	color: #3377ff;
}
.list-variety li {
	list-style-type: circle; 
	color: #3377ff;
}
.list-variety a {
	color: #3377ff;
}
/*listkoi.html*/
.koi-name {
	font-size: 30px;
	color: red;
	margin-bottom: 50px;
}
#myModal {
	padding-top: 50px;
}
.glyphicon-star {
	color: #FF9933;
}
#imagePreview {
	height: 300px; 
   	width: 300px; 
   	overflow: hidden;
}
.setting-icon{
	background: url("../images/setting.png") no-repeat scroll 0 0 transparent;
  color: #000000;
  border: 0px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 20px;
  margin-top: -10px;
}
/*ADD KOI*/
#add-koi {
	padding-top: 150px;
}
#form-title {
	text-align: center;
	color: blue;
}
.add-button {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 8px;
}
/*LOGIN*/
#login {
    padding-top: 150px
}
#login h1 {
    color: #1fa67b;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login a {
    color: #CC6600;
}
#login .form-group {
    margin-bottom: 20px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 16px;
	text-align: center;
	display: block;
}

.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}
