@model KoiManagement.Models.InfoDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<div class="container" id="add-koi">
    <form action="/InfoDetail/Add" enctype="multipart/form-data" method="post">
        <h2 id="form-title">THÊM TRẠNG THÁI MỚI</h2>
        @Html.AntiForgeryToken()
        <div class="">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="text" class="form-control" placeholder="Cân Nặng" name="Weight">
                    <label id="lblMessage_koi_weight_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="text" class="form-control" placeholder="Kích Thước" name="Size">
                    <label id="lblMessage_koi_size_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="text" class="form-control" placeholder="Tình Trạng Sức Khỏe" name="HeathyStatus">
                    <label id="lblMessage_koi_healthy_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <textarea rows="4" type="text" class="form-control" placeholder="Mô tả" name="Description"></textarea>
                    <label id="lblMessage_koi_description_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input id="uploadFile" type="file" accept="image/png, image/jpeg, image/gif" name="file" class="img" onchange="loadFile(event)" />
                    <br />
                    <div><img id="imagePreview" src="images/blank.jpg" alt="" /></div>
                    <script>
                        var loadFile = function (event) {
                            var output = document.getElementById('imagePreview');
                            imagePreview.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>
            </div>
            <div class="row add-button">
                <div class="col-sm-3"></div>
                <input type="hidden" name="KoiID" value="@ViewBag.KoiID">
                <button type="submit" class="btn btn-default">Thêm mới</button>
                <button type="button" class="btn btn-default">Đóng</button>
            </div>
        </div>
    </form>

</div>  