@model KoiManagement.Models.InfoDetail
@{
    ViewBag.Title = "Thêm thông tin chi tiết";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    var Size = ViewBag.Size;
    decimal size = decimal.Parse(Size);
    var age = ViewBag.Age;
}
<div class="container" id="add-koi">
    <h3 id="form-title" style="text-align:center; margin-top:40px;">THÊM TRẠNG THÁI MỚI</h3>
    <div class="">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <hr />
                <label>Ngày cập nhật</label>
                <input type="text" class="form-control" placeholder="DD-MM-YYYY" id="DoB" name="DoB" />
                <label id="lblmessage_dob_fail" class="label-error"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Kích thước hiện tại</label>
                <input type="text" class="form-control" placeholder="Kích Thước" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="3" name="Size" id="Size">
                <label id="lblMessage_koi_size_fail" class="label-error"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Tình trạng sức khỏe</label>
                <input type="text" class="form-control" placeholder="Tình Trạng Sức Khỏe" name="HeathyStatus" id="HeathyStatus">
                <label id="lblMessage_koi_healthy_fail" class="label-error"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Mô tả trạng thái</label>
                <textarea rows="4" type="text" class="form-control" placeholder="Mô tả" name="Description" id="Description"></textarea>
                <label id="lblMessage_koi_description_fail" class="label-error"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <label>Chọn ảnh cá</label>
                <input type="file" accept="image/png, image/jpeg, image/gif" id="files" name="files" onchange="previewImg()" class="upload hides" multiple accept="image/*"/>
                <output id="result"></output>
            </div>

        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <label id="lblMessage_file_fail" class="label-error"></label>
        </div>
        <div class="row" id="add-btn">
            <div class="col-sm-6 col-sm-offset-3 align-right">
                <input type="hidden" name="KoiID" value="@ViewBag.KoiID">
                <button id="btnAddKoi" class="btn btn-primary">Thêm mới</button>
                <a type="button" href='javascript:history.go(-1)' class="btn btn-primary">Quay lại</a>
            </div>
        </div>
    </div>
</div>
@*<link href="~/Content/css/semantic.css" rel="stylesheet" />*@
<script>

    $(document).ready(function () {
        $(function () {
            $("#Weight").focus();
            var fullDate = new Date();
            var twoDigitMonth = (fullDate.getMonth()+1)+"";if(twoDigitMonth.length==1)	twoDigitMonth="0" +twoDigitMonth;
            var twoDigitDate = fullDate.getDate()+"";if(twoDigitDate.length==1)	twoDigitDate="0" +twoDigitDate;
            var currentDate = twoDigitDate + "-" + twoDigitMonth + "-" + fullDate.getFullYear();

            $('#DoB').val(currentDate);
        });
    });

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == "13") {
            if (Validate()) {
                AddKoi();
            } else {
                return false;
            }
        }
    });

    var oldText;
    $("#btnAddKoi").click(function () {
        if (Validate()) {
            oldText = $(this).text();
            $(this).text('Xin đợi ...').attr('disabled', 'disabled');
            AddKoi();
        } else {
            return false;
        }
    });
    function Validate() {
        $('#lblMessage_koi_size_fail').text("");
        $('#lblMessage_file_fail').text("");
        $('#lblmessage_dob_fail').text("");
        var DoB = $('#DoB').val();

        var Size = $('#Size').val();
        var files = $('#files').val();
        function isPositiveNumber(Size) {
            var regex = /^[0-9 \.\,\+]+$/;
            return regex.test(Size);
        };
        if (DoB != "") {
            var dateParts = DoB.split("-");
            if ((/^\d{2}-\d{2}-\d{4}$/).test(DoB)) {
                if (dateParts[0] > 31) {
                    $('#lblmessage_dob_fail').text("Ngày không thể lớn hơn 31");
                    $('#DoB').focus();
                    return false;
                } else if (dateParts[1] > 12) {
                    $('#lblmessage_dob_fail').text("Tháng không thể lớn hơn 12");
                    $('#DoB').focus();
                    return false;
                } else if (dateParts[0] > 30 && dateParts[1] == 2) {
                    $('#lblmessage_dob_fail').text("Ngày tháng này không tồn tại");
                    $('#DoB').focus();
                    return false;
                }
                else if (!validateDateRangeMax(DoB)) {
                    $('#lblmessage_dob_fail').text('Ngày cập nhật phải nhỏ hơn ngày hiện tại.');
                    $('#DoB').focus();
                    return false;
                } 
                var age1 = '@age';
                if (age1 == "") {
                    if(!validateMinDate(DoB)) {
                        $('#lblmessage_dob_fail').text('Năm phải lớn hơn 1890.');
                        $('#DoB').focus();
                        return false;
                    }
                }else if (!validateDateRangeMin(DoB)) {
                    $('#lblmessage_dob_fail').text("Ngày cập nhật phải lớn hơn ngày sinh("+ '@age'+ ")");
                    $('#DoB').focus();
                    return false;
                }
            }else{
                $('#lblmessage_dob_fail').text('Xin hãy nhập định dạng DD-MM-YYYY.');
                $('#DoB').focus();
                return false;
            }
        }


        if (Size == "") {
            $('#lblMessage_koi_size_fail').text("Vui lòng nhập kích thước");
            $('#Size').focus();
            return false;
        }
        else if (!isPositiveNumber(Size)) {
            $('#lblMessage_koi_size_fail').text("Vui lòng nhập số dương cho kích thước của Koi!");
            $('#Size').focus();
            return false;
        }
        if (parseInt(Size) > 150) {
            $('#lblMessage_koi_size_fail').text("Kích thước phải nhỏ hơn 150cm.");
            $('#Size').focus();
            return false;
        }
        var currentsize= @size;
        if (parseInt(Size) < currentsize) {
            $('#lblMessage_koi_size_fail').text("Kích thước phải lớn hơn "+@size+" (kích thước hiện tại).");
            $('#Size').focus();
            return false;
        }

        if (files == "") {
            $('#lblMessage_file_fail').text("Xin hãy chọn ảnh.");
            return false;
        }
        return true;
    }
    function validateDateRangeMax(inputDate) {
        var now = new Date();

        var dateParts = inputDate.split("-");
        var date = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]); // month is 0-based
        return date < now;
    }

    function validateDateRangeMin(inputDate) {

        var dateParts = inputDate.split("-");
        var date = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]); // month is 0-based
        var age1 = '@age';

        var dateAge= age1.split("-");
        var age = new Date(dateAge[2], dateAge[1] - 1, dateAge[0]); // month is 0-based

        return date > age;
    }
    function validateMinDate(inputDate) {
        var now = new Date(),
            after30Days = new Date().setDate(now.getDate() - 126 * 365);
        var dateParts = inputDate.split("-");
        var date = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]); // month is 0-based

        return  date > after30Days;
    }


    function AddKoi() {
        var fileUpload = $("#files").get(0);
        var files = fileUpload.files;
        // Looping over all files and add it to FormData object
        var fileData = new FormData();

        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        // Adding one more key to FormData object
        fileData.append('DoB', $('#DoB').val());
        fileData.append('Size', $('#Size').val());
        fileData.append('HeathyStatus', $('#HeathyStatus').val());
        fileData.append('Description', $('#Description').val());
        fileData.append('KoiID', @ViewBag.KoiID);


        $('#lblMessage_koi_size_fail').text("");

        $.ajax({
            type: "POST",
            url: "@Url.Action("AddDetail")",
            contentType: false, // Not to set any content header
            processData: false,
            data: fileData,
            dataType: "Json",
            success: function(res) {
                $('#btnAddKoi').text(oldText).removeAttr('disabled');
                switch (res.Status) {
                    case 2:
                        $('#lblMessage_koi_size_fail').text(res.Message);
                        break;
                    case 3:
                        $('lblmessage_dob_fail').text(res.Message);
                        $('#DoB').focus();
                        break;
                    case 4:
                        break;
                    case 1:
                        alert(res.Message);
                        window.location.href = res.RedirectTo;
                        break;
                    case 0:
                        window.location.href = res.RedirectTo;
                        break;
                }
            }
        });
    }

    $(".camera.icon")
        .click(function () {
            $("#files").trigger('click');
        });


    var ImgList = [];

    function previewImg() {
        var filesInput = document.getElementById("files");
        var files = filesInput.files;
        var output = document.getElementById("result");
        var i = 0,
            len = files.length;
        (function readFile(n) {
            var reader = new FileReader();
            var f = files[n];
            var m = "onclick=Avatar('" + f.name + "')";

            reader.onload = function (e) {
                var div = document.createElement("span");
                div.className = "imageBlock";
                div.innerHTML = "<img class='thumb' src='" +
                    e.target.result +
                    "'" +
                    "title='" +
                    f.name +
                    "'/>  <div  class='deleteDiv'><img src='/Content/deleteImage.png' class='deleteIcon' title='Xóa ảnh'/></div>";
                output.insertBefore(div, null);
                div.children[1].addEventListener("click",
                    function () {
                        div.parentNode.removeChild(div);
                        var removeId = div.children[0].title;
                        for (var index = 0; index < ImgList.length; index++) {
                            if (ImgList[index].name === removeId) {
                                ImgList.splice(index, 1);
                                break;
                            }
                        }
                    });
                ImgList.push(f);
                if (n < len - 1) readFile(++n);
            };
            reader.readAsDataURL(f);
        }(i));
    }
</script>
