@model IEnumerable<KoiManagement.Models.Variety>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<div class="container" id="add-koi" >
        <h2 id="form-title">THÊM CÁ KOI MỚI</h2>
        <div class="">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Tên Cá Koi" id="KoiName" name="KoiName">
                    <label id="lblMessage_koi_name_fail" class="label-error"></label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="VarietyID" name="VarietyID">
                        <option value="0">Chủng Loại</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.VarietyID">@item.VarietyName</option>
                        }
                    </select>
                    <label id="lblMessage_koi_variety_fail" class="label-error"></label>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control" id="Gender" name="Gender">
                        <option value="N">Giới Tính</option>
                        <option value="M">Đực</option>
                        <option value="F">Cái</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Ngày Sinh" id="DoB" name="DoB" onfocus="(this.type='date')">
                    <label id=" lblmessage_dob_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Chiều dài" id="Size" name="Size">
                    <label id="lblMessage_koi_size_fail" class="label-error"></label>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Tính Cách" id="Temperament" name="Temperament">
                        <label id="lblMessage_temperament_fail" class="label-error"></label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Nguồn Gốc" id="Origin" name="Origin">
                    <label id="lblMessage_origin_fail" class="label-error"></label>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-12">
                    <input type="file" id="files" name="files[]" multiple />
                    @*<script>
                        var loadFile = function (event) {
                            var output = document.getElementById('imagePreview');
                            imagePreview.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>*@
                </div>
            </div>
            <div class="modal-footer">
                <button   id="btnAddKoi"  class="btn btn-default">Thêm mới</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
  
</div>


<script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                $("#KoiName").focus();
            });
        });

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == "13") {
                if (Validate()) {
                    AddKoi();
                } else {
                    return false;
                }
            }
        });
 

        $("#btnAddKoi").click(function () {
            if (Validate()) {
                AddKoi();
            } else {

                return false;
            }
        });
        function Validate() {
            var KoiName = $('#KoiName').val();
            var VarietyID = $('#VarietyID').val();
            var Size = $('#Size').val();
            var Gender = $('#Gender').val();
            var DoB = $('#DoB').val();
            var Temperament = $('#Temperament').val();
            var Origin = $('#Origin').val();
            function isSpecialCharacter(Koiname) {
                var regex = /^[a-zA-Z0-9- ]*$/;
                return regex.test(Koiname);
            };
            function isPositiveNumber(Size) {
                var regex = /^[0-9 \.\,\+]+$/;
                return regex.test(Size);
            };

            if (KoiName.length > 100 || KoiName.length < 0) {
                $('#lblMessage_koi_name_fail').text("Tên Koi quá dài! Vui lòng không nhập quá 100 ký tự!");
                return false;
            }
            else if (KoiName == "") {
                $('#lblMessage_koi_name_fail').text("Vui lòng nhập tên Koi!");
                return false;
            }
            else if (!isSpecialCharacter(KoiName)) {
                $('#lblMessage_koi_name_fail').text("Vui lòng không nhập ký tự đặc biệt!");
                return false;
            }
            else if (Size == "") {
                $('#lblMessage_koi_size_fail').text("Vui lòng nhập kích thước");
                return false;
            }
            else if (!isPositiveNumber(Size)) {
                $('#lblMessage_koi_size_fail').text("Vui lòng không nhập số âm cho kích thước của Koi!");
                return false;
            }

            return true;
        }

        function AddKoi() {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            // Looping over all files and add it to FormData object  
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {  
                fileData.append(files[i].name, files[i]);  
            }  
              
            // Adding one more key to FormData object  
            fileData.append('KoiName', $('#KoiName').val());
            fileData.append('VarietyID', $('#VarietyID').val());
            fileData.append('Size', $('#Size').val());
            fileData.append('Gender', $('#Gender').val());
            fileData.append('DoB', $('#DoB').val());
            fileData.append('Temperament', $('#Temperament').val());
            fileData.append('Origin', $('#Origin').val());

            $('#lblMessage_koi_name_fail').text("");
            $('#lblMessage_koi_variety_fail').text("");
            $('#lblMessage_koi_size_fail').text("");
            $('#lblmessage_dob_fail').text("");
            $('#lblMessage_temperament_fail').text("");
            $('#lblMessage_origin_fail').text("");
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddKoi")",
                contentType: false, // Not to set any content header  
                processData: false,
                data: fileData,
                dataType: "Json",
                success: function(res) {
                    switch (res.Status) {
                    case 2:
                        break;
                    case 3:
                        $('#..').text(res.Message);
                        $('#password').focus();
                        break;
                    case 4:
                        break;
                    case 1:
                        alert(res.Message);
                        window.location.href = res.RedirectTo;
                        break;
                    case 0:
                        window.location.href = res.RedirectTo;
                        break;
                    }
                }
            });
        }

    //$(document).ready(function () {
    //    $("#fileUpload").on('change', function () {
    //        //Get count of selected files
    //        var countFiles = $(this)[0].files.length;
    //        var imgPath = $(this)[0].value;
    //        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    //        var image_holder = $("#image-holder");
    //        image_holder.empty();
    //        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
    //            if (typeof (FileReader) != "undefined") {
    //                //loop for each file selected for uploaded.
    //                for (var i = 0; i < countFiles; i++) {
    //                    var reader = new FileReader();
    //                    reader.onload = function (e) {
    //                        $("<img />", {
    //                            "src": e.target.result,
    //                            "class": "thumb-image"
    //                        }).appendTo(image_holder);
    //                    }
    //                    image_holder.show();
    //                    reader.readAsDataURL($(this)[0].files[i]);
    //                }
    //            } else {
    //                alert("This browser does not support FileReader.");
    //            }
    //        } else {
    //            alert("Pls select only images");
    //        }
    //    });
    //});

    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {
                var files = e.target.files,
                  filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        $("<span class=\"pip\">" +
                          "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                          "<br/><span class=\"remove\">X</span>" +
                          "</span>").insertAfter("#files");
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@