@model IEnumerable<KoiManagement.Models.Variety>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<div class="container" id="add-koi" >
    <form action="/Koi/AddKoi" enctype="multipart/form-data" method="post">
        <h2 id="form-title">THÊM CÁ KOI MỚI</h2>
        @Html.AntiForgeryToken()
        <div class="">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Tên Cá Koi" id="KoiName" name="KoiName">
                    <label id="lblMessage_koi_name_fail" class="label-error"></label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="VarietyID" name="VarietyID">
                        <option value="0">Chủng Loại</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.VarietyID">@item.VarietyName</option>
                        }
                    </select>
                    <label id="lblMessage_koi_variety_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control" id="Gender" name="Gender">
                        <option value="N">Giới Tính</option>
                        <option value="M">Đực</option>
                        <option value="F">Cái</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Ngày Sinh" id="DoB" name="DoB" onfocus="(this.type='date')">
                    <label id=" lblmessage_dob_fail" class="label-error"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Tính Cách" id="Temperament" name="Temperament">
                    <label id="lblMessage_temperament_fail" class="label-error"></label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Nguồn Gốc" id="Origin" name="Origin">
                    <label id="lblMessage_origin_fail" class="label-error"></label>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-12">
                    <input type="file" accept="image/png, image/jpeg, image/gif" name="file" id="file" class="img" onchange="loadFile(event)" />
                        <br />
                        <div><img id="imagePreview" src="~/Content/Image/Common/blank.jpg" alt="" /></div>
                        <script>
                            var loadFile = function (event) {
                                var output = document.getElementById('imagePreview');
                                imagePreview.src = URL.createObjectURL(event.target.files[0]);
                            };
                        </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Add" class="btn btn-default">Thêm mới</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </form>
</div>


  

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
