@using KoiManagement.Models

@{
    ViewBag.Title = "KSMS - Trang chủ";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    Article home = ViewBag.home;
}

<div class="section site-top-1 site-block" id="top">
    <div>
        <div id="carousel-top1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-top1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-top1" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Image/Common/Slider1.jpg" alt="Cá Koi" class="img img-responsive" />
                    <div class="carousel-content">
                        <div class="carousel-sub-desc">
                            <h2>
                                Chào mừng bạn đến với KSMS!
                            </h2>
                        </div>
                    </div>
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="~/Content/Image/Common/Slider2.jpg" alt="Cá Koi" class="img img-responsive" />
                    <div class="carousel-content">
                        <div class="carousel-sub-desc">
                            <h2>
                                KSMS, Cổng thông tin, kiến thức về cá Koi
                            </h2>
                        </div>
                    </div>
                    <div class="carousel-caption"></div>
                </div>

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-top1" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-top1" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
@Html.Raw(home.Content)
@*<div class="section site-top-2">
    <div class="container">
        <h1>Giới thiệu về cá Koi</h1>
        <div class="about-block">

            <p>
                Cá chép Koi (tiếng Nhật: 鯉 (こい), La tinh hóa: koi) là một loại cá chép (Cyprinus carpio) thông thường đã thuần hóa, lai tạo để nuôi làm cảnh, có nguồn gốc Trung Quốc nhưng được nuôi phổ biến tại Nhật Bản. Chúng có quan hệ họ hàng gần với cá vàng và, trên thực tế, kiểu cách nhân giống và nuôi cảnh là khá giống với cách nuôi cá vàng, có lẽ là do các cố gắng của những người nhân giống Nhật Bản trong việc ganh đua với cá vàng. Cá chép Koi và các hình xăm trên cá được người Nhật coi là điềm may mắn.
            </p>
            <p>Xuất xứ: Cá chép bắt nguồn từ Trung Quốc. Theo các nhà khảo cổ học, phân tích từ hóa thạch tìm được ở miền Nam Trung Quốc, thì cá chép đã có từ hơn 2 triệu năm. Vào thế kỷ 4, người TQ đã biết lai tạo giống cá chép, để giờ đây giống cá 3 đuôi hoặc cá Tàu đã nổi tiếng trên thế giới. Cá chép được lai tạo để trở thành giống cá đẹp, trưng bày làm cảnh (kiểng) đã phát tán rộng rãi và người Nhật Bản cũng đã nghiên cứu để nhân giống loài cá này đầu tiên tại đảo Niigata. Đầu thế kỷ 20, năm 1914, để tôn vinh hoàng tử Hirohito, Nhật Bản đã cho triển lãm giống cá chép Koi đầu tiên tại Tokyo và đảo Niigata chính thức được mang tên Niigata Koi. Từ đây, cá chép Nhật vói 2 màu chủ đạo "đỏ và trắng" được tôn vinh và mua bán rộng rãi.
                Để nghiên cứu thêm về cách lai tạo màu, sinh sản, nhân giống và nuôi dưỡng v.v. từ năm 1950, Nhật Bản đã cử các chuyên gia đến học hỏi tại Trung tâm Khoa học Kỹ thuật thuộc khoa Sinh vật trường Đại học Chicago và khoa Hóa lý thuộc Viện nghiên cứu Illinois, Hoa Kỳ.
                Cá chép do người Nhật lai tạo đẹp về màu sắc và đắt giá. Do vậy, mỗi khi nhắc đến loài cá chép được lai tạo có nhiều màu sắc đẹp, người ta liên tưởng ngay đến người Nhật và thường được dùng chung một tên gọi là "cá chép Nhật". Thực ra, cá chép do Nhật Bản lai tạo có tên gọi là Nishikigoi, dịch ra tiếng Việt là cá chép nhiều màu sắc, đến thế kỷ 19 thì có thêm tên gọi KOI.
                Từ Koi theo tiếng Nhật là cá chép, từ đồng âm khác nghĩa là tình yêu, yêu mến. Như vậy, giống cá này được lai tạo bắt nguồn từ Trung Quốc, Koi là tên do người Nhật đặt và được gọi chung cho tất cả các loại cá chép lai tạo. Hiện nay, trên eBay đang bán một loại cá chép Koi màu trắng sữa đuôi dài, được ghi rõ xuất xứ Việt Nam.
                Do cá Koi của Nhật thuộc loại xuất sắc, đắt giá và nổi tiếng, nên người Nhật đã tự đặt ra những quy cách về gam màu, tên gọi để phân biệt từng chủng loại.
            </p>
        </div>
    </div>
</div>
<div class="section site-top-3">
    <div class="container">
        <h2>Cá Koi nổi bật</h2>
        <p>Một vài cá chép Koi nổi bật</p>
        <div class="image-list">
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <a href="/Koi/Details/1"><img src="/Content/Image/Koi/Swa101.jpg" class="img img-responsive" alt="Showa" /></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <a href="/Koi/Details/11"><img src="/Content/Image/Koi/Kohaku201.jpg" class="img img-responsive" alt="Kohaku" /></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <a href="/Koi/Details/40"><img src="/Content/Image/Koi/Tancho101.jpg " class="img img-responsive" alt="Sanke" /></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <a href="/Koi/Details/36"><img src="/Content/Image/Koi/Asagi3.jpg" class="img img-responsive" alt="Bekko" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section site-top-3">
    <div class="container">
        <h2>Trang trại nổi bật</h2>
        <p>Một vài trang trại nổi bật với vị thế và uy tín đã được khẳng định</p>
        <div class="image-list">
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <a href="/KoiFarm/KoiFarmDetail/4"><img src="/Content/Image/Member/mem01.jpg" class="img img-responsive" alt="Cá Koi" /></a>
                    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <a href="/KoiFarm/KoiFarmDetail/5"><img src="/Content/Image/Member/mem11.jpg" class="img img-responsive" alt="Cá Koi" /></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <a href="/KoiFarm/KoiFarmDetail/7"><img src="/Content/Image/Member/mem00.jpg" class="img img-responsive" alt="Cá Koi" /></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <a href="/KoiFarm/KoiFarmDetail/8"><img src="/Content/Image/Member/mem02.jpg" class="img img-responsive" alt="Cá Koi" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
