
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [koirtsvi_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [koirtsvi_db]
GO
/****** Object:  Table [dbo].[ActiveCode]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ActiveCode](
	[ActiveCodeID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[ActCode] [varchar](50) NOT NULL,
	[ExpireOn] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__ActiveCo__22CB59B17D8B3823] PRIMARY KEY CLUSTERED 
(
	[ActiveCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[AchievementID] [int] IDENTITY(1,1) NOT NULL,
	[KoiID] [int] NOT NULL,
	[Image] [nvarchar](2048) NULL,
	[Date] [date] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Achiveme__276330E0D3086C42] PRIMARY KEY CLUSTERED 
(
	[AchievementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Answer]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Datetime] [datetime] NOT NULL,
	[AnswerDetail] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Answer__D48250249A0557E3] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Article]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[ShortDes] [nvarchar](2000) NULL,
	[Image] [nchar](2000) NULL,
	[Date] [date] NOT NULL,
	[MemberID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Article__9C6270C8019DC715] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[KoiID] [int] NULL,
	[DateTime] [datetime] NOT NULL,
	[KoiFarmID] [int] NULL,
	[Rating] [decimal](2, 1) NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[CommentAnswer] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Comment__C3B4DFAA2A410C74] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoDetail]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InfoDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[KoiID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Size] [decimal](8, 2) NULL,
	[Image] [varchar](2048) NOT NULL,
	[HeathyStatus] [nvarchar](255) NULL,
	[Description] [nvarchar](1000) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__InfoDeta__135C314DE26E8157] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Koi]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Koi](
	[KoiID] [int] IDENTITY(1,1) NOT NULL,
	[VarietyID] [int] NOT NULL,
	[KoiName] [nvarchar](100) NOT NULL,
	[DoB] [date] NULL,
	[Gender] [char](1) NULL,
	[Temperament] [nvarchar](255) NULL,
	[Certificate] [varchar](255) NULL,
	[Image] [varchar](2048) NULL,
	[Origin] [nvarchar](255) NULL,
	[IsDead] [bit] NULL,
	[DeadReason] [nvarchar](4000) NULL,
	[KoiMom] [int] NULL,
	[Status] [int] NOT NULL,
	[Privacy] [bit] NULL,
 CONSTRAINT [PK__Koi__E03435B8DFBDAB6B] PRIMARY KEY CLUSTERED 
(
	[KoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KoiFarm]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KoiFarm](
	[KoifarmID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[FarmName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__KoiFarm__B7C83CF4017793CE] PRIMARY KEY CLUSTERED 
(
	[KoifarmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Media]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Media](
	[MediaID] [int] IDENTITY(1,1) NOT NULL,
	[LinkImage] [varchar](2048) NULL,
	[LinkVideo] [varchar](2048) NULL,
	[ModelId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Media__B2C2B5AFAC923D1E] PRIMARY KEY CLUSTERED 
(
	[MediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UserName] [varchar](250) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Dob] [date] NULL,
	[Image] [nvarchar](2048) NULL,
	[Gender] [char](1) NOT NULL,
	[Phone] [varchar](11) NULL,
	[Email] [varchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Member__0CF04B38A768B01D] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Message]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NULL,
	[Datetime] [datetime] NOT NULL,
	[SenderID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ReplyID] [int] NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__Message__C87C037CAD986C4E] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notification](
	[NoID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[ObjectType] [int] NULL,
	[ObjectID] [int] NULL,
	[Datetime] [datetime] NOT NULL,
	[url] [varchar](2048) NULL,
	[Content] [nvarchar](2000) NULL,
	[isRead] [bit] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__Notifica__7D8ECF29EA7CA81A] PRIMARY KEY CLUSTERED 
(
	[NoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OwnerID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[KoiID] [int] NOT NULL,
	[KoiFarmID] [int] NULL,
	[DateOwerFrom] [date] NOT NULL,
	[DateOwerTo] [date] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Owner__81938598F2CACF9F] PRIMARY KEY CLUSTERED 
(
	[OwnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Datetime] [datetime] NOT NULL,
	[IsClose] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Question__0DC06F8CA33CECA9] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rate]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[RateSocre] [int] NOT NULL,
	[MemberID] [int] NULL,
	[QuestionID] [int] NULL,
	[AnswerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[MemberID] [int] NOT NULL,
	[DateTime] [date] NOT NULL,
	[ObjectType] [nchar](10) NULL,
	[ObjectId] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Report__D5BD48E5639B745E] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Type__516F03950A5B708D] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Variety]    Script Date: 07/12/2016 8:47:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variety](
	[VarietyID] [int] NOT NULL,
	[VarietyName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Image] [nvarchar](2048) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Variety__08E3A048DED4B78D] PRIMARY KEY CLUSTERED 
(
	[VarietyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[InfoDetail] ON 

INSERT [dbo].[InfoDetail] ([DetailID], [KoiID], [Date], [Size], [Image], [HeathyStatus], [Description], [Status]) VALUES (1, 1, CAST(0x0000A0D600000000 AS DateTime), CAST(68.00 AS Decimal(8, 2)), N'Detail01.jpg', N'Khỏe', N'…', 1)
INSERT [dbo].[InfoDetail] ([DetailID], [KoiID], [Date], [Size], [Image], [HeathyStatus], [Description], [Status]) VALUES (2, 2, CAST(0x0000A26100000000 AS DateTime), CAST(55.00 AS Decimal(8, 2)), N'', N'khỏe', N'…', 1)
INSERT [dbo].[InfoDetail] ([DetailID], [KoiID], [Date], [Size], [Image], [HeathyStatus], [Description], [Status]) VALUES (3, 2, CAST(0x0000A57800000000 AS DateTime), CAST(80.00 AS Decimal(8, 2)), N'', N'Khỏe', N'…', 1)
SET IDENTITY_INSERT [dbo].[InfoDetail] OFF
SET IDENTITY_INSERT [dbo].[Koi] ON 

INSERT [dbo].[Koi] ([KoiID], [VarietyID], [KoiName], [DoB], [Gender], [Temperament], [Certificate], [Image], [Origin], [IsDead], [DeadReason], [KoiMom], [Status], [Privacy]) VALUES (1, 1, N'Isora', CAST(0xC3320B00 AS Date), N'F', N' Hiền Lành', N'', N'Swa101.jpg  ', N'Japan', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Koi] ([KoiID], [VarietyID], [KoiName], [DoB], [Gender], [Temperament], [Certificate], [Image], [Origin], [IsDead], [DeadReason], [KoiMom], [Status], [Privacy]) VALUES (2, 1, N'Kazuo', CAST(0x22370B00 AS Date), N'F', N' Nhút nhát', N'', N'Swa201.jpg ', N'Japan', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Koi] ([KoiID], [VarietyID], [KoiName], [DoB], [Gender], [Temperament], [Certificate], [Image], [Origin], [IsDead], [DeadReason], [KoiMom], [Status], [Privacy]) VALUES (3, 1, N'Shusi', CAST(0xB6350B00 AS Date), N'F', N' Mạnh bạo', N'', N'Swa301.jpg  ', N'Japan', NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Koi] OFF
SET IDENTITY_INSERT [dbo].[KoiFarm] ON 

INSERT [dbo].[KoiFarm] ([KoifarmID], [MemberID], [FarmName], [Address], [Description], [Status]) VALUES (2, 2, N'đâsdasdasd', N'ádasdasdasdas', N'<p>&aacute;dasdasdasdasd</p>', 1)
SET IDENTITY_INSERT [dbo].[KoiFarm] OFF
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([MediaID], [LinkImage], [LinkVideo], [ModelId], [Status]) VALUES (1, N'Swa102.jpg ', NULL, 1, 1)
INSERT [dbo].[Media] ([MediaID], [LinkImage], [LinkVideo], [ModelId], [Status]) VALUES (2, N'Swa102.jpg ', NULL, 1, 1)
INSERT [dbo].[Media] ([MediaID], [LinkImage], [LinkVideo], [ModelId], [Status]) VALUES (3, N' Swa103.jpg', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Media] OFF
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [Name], [UserName], [Password], [Dob], [Image], [Gender], [Phone], [Email], [Address], [Role], [Status]) VALUES (1, N'Admin', N'Admin', N'e10adc3949ba59abbe56e057f20f883e', CAST(0xC3150B00 AS Date), N'mem00.jpg', N'M', N'943476686', N'ToanNV1@fpt.edu.vn', N'Mê Linh,Hà Nội', 1, 1)
INSERT [dbo].[Member] ([MemberID], [Name], [UserName], [Password], [Dob], [Image], [Gender], [Phone], [Email], [Address], [Role], [Status]) VALUES (2, N'Nguyễn Văn Toàn', N'toannt1990', N'e10adc3949ba59abbe56e057f20f883e', CAST(0xC3150B00 AS Date), N'mem01.jpg', N'M', N'943476686', N'ToanNV@fpt.edu.vn', N'Mê Linh,Hà Nội', NULL, 1)
INSERT [dbo].[Member] ([MemberID], [Name], [UserName], [Password], [Dob], [Image], [Gender], [Phone], [Email], [Address], [Role], [Status]) VALUES (3, N'Tạ Quang Nam', N'namtq1992', N'e10adc3949ba59abbe56e057f20f883e', CAST(0xF6180B00 AS Date), N'mem02.jpg', N'M', N'1669443278', N'NamTQ@fpt.edu.vn', N'Quốc Oai,Hà Nội', NULL, 1)
SET IDENTITY_INSERT [dbo].[Member] OFF
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NoID], [MemberID], [SenderID], [ObjectType], [ObjectID], [Datetime], [url], [Content], [isRead], [status]) VALUES (1, 12, 2, 1, 8, CAST(0x0000A6D4000BE328 AS DateTime), N'', N'Nguyễn Văn Toàn muốn chuyển nhượng Taro cho bạn', 0, 1)
INSERT [dbo].[Notification] ([NoID], [MemberID], [SenderID], [ObjectType], [ObjectID], [Datetime], [url], [Content], [isRead], [status]) VALUES (2, 1, 12, 1, 1, CAST(0x0000A6D40018D7D5 AS DateTime), N'', N'ádasd', 0, 1)
INSERT [dbo].[Notification] ([NoID], [MemberID], [SenderID], [ObjectType], [ObjectID], [Datetime], [url], [Content], [isRead], [status]) VALUES (3, 1, 12, 1, 1, CAST(0x0000A6D40018EFDE AS DateTime), N'', N'ádasdasdasd', 0, 1)
SET IDENTITY_INSERT [dbo].[Notification] OFF
SET IDENTITY_INSERT [dbo].[Owner] ON 

INSERT [dbo].[Owner] ([OwnerID], [MemberID], [KoiID], [KoiFarmID], [DateOwerFrom], [DateOwerTo], [Status]) VALUES (1, 1, 1, NULL, CAST(0x773A0B00 AS Date), NULL, 1)
INSERT [dbo].[Owner] ([OwnerID], [MemberID], [KoiID], [KoiFarmID], [DateOwerFrom], [DateOwerTo], [Status]) VALUES (2, 1, 2, NULL, CAST(0x923A0B00 AS Date), NULL, 1)
INSERT [dbo].[Owner] ([OwnerID], [MemberID], [KoiID], [KoiFarmID], [DateOwerFrom], [DateOwerTo], [Status]) VALUES (3, 1, 3, NULL, CAST(0x35380B00 AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Owner] OFF
INSERT [dbo].[Variety] ([VarietyID], [VarietyName], [Description], [Image], [Status]) VALUES (0, N'Chưa rõ', N'Chưa xác định được chủng loại', N'koi00.jpg', 1)
INSERT [dbo].[Variety] ([VarietyID], [VarietyName], [Description], [Image], [Status]) VALUES (1, N'Showa', N'Showa được phát triển dựa trên nền tảng từ Kohaku, tuy nhiên trên cơ thể chúng sẽ có phần sumi ( màu đen ) chiếm phần lớn, và đặc biệt phần màu đen này sẽ lan rộng trên phần đầu con cá trong khi sanke thì không có màu đen trên đầu', N'1.jpg', 1)
INSERT [dbo].[Variety] ([VarietyID], [VarietyName], [Description], [Image], [Status]) VALUES (2, N'Kohaku', N'Kohaku là loài có màu đỏ chủ đạo trên mình cá màu trắng, rất dễ phân biệt.', N'2.jpg', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ActiveCo__24EDACD1EE7501F4]    Script Date: 07/12/2016 8:47:06 CH ******/
ALTER TABLE [dbo].[ActiveCode] ADD  CONSTRAINT [UQ__ActiveCo__24EDACD1EE7501F4] UNIQUE NONCLUSTERED 
(
	[ActCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Member__A9D10534260B9200]    Script Date: 07/12/2016 8:47:06 CH ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UQ__Member__A9D10534260B9200] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Member__C9F284560402FB6A]    Script Date: 07/12/2016 8:47:06 CH ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UQ__Member__C9F284560402FB6A] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF__Member__Gender__1B0907CE]  DEFAULT ('N') FOR [Gender]
GO
ALTER TABLE [dbo].[ActiveCode]  WITH NOCHECK ADD  CONSTRAINT [FK__ActiveCod__Membe__1ED998B2] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[ActiveCode] CHECK CONSTRAINT [FK__ActiveCod__Membe__1ED998B2]
GO
ALTER TABLE [dbo].[Achievement]  WITH NOCHECK ADD  CONSTRAINT [FK__Achivemen__KoiID__24927208] FOREIGN KEY([KoiID])
REFERENCES [dbo].[Koi] ([KoiID])
GO
ALTER TABLE [dbo].[Achievement] CHECK CONSTRAINT [FK__Achivemen__KoiID__24927208]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK__Answer__AnswerDe__3E723F9C] FOREIGN KEY([AnswerDetail])
REFERENCES [dbo].[Answer] ([AnswerID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK__Answer__AnswerDe__3E723F9C]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK__Answer__MemberID__3F6663D5] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK__Answer__MemberID__3F6663D5]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK__Answer__Question__3D7E1B63] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK__Answer__Question__3D7E1B63]
GO
ALTER TABLE [dbo].[Article]  WITH NOCHECK ADD  CONSTRAINT [FK__Article__MemberI__3C69FB99] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK__Article__MemberI__3C69FB99]
GO
ALTER TABLE [dbo].[Article]  WITH NOCHECK ADD  CONSTRAINT [FK__Article__TypeID__3B75D760] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK__Article__TypeID__3B75D760]
GO
ALTER TABLE [dbo].[Comment]  WITH NOCHECK ADD  CONSTRAINT [FK__Comment__Comment__2F10007B] FOREIGN KEY([CommentAnswer])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__Comment__2F10007B]
GO
ALTER TABLE [dbo].[Comment]  WITH NOCHECK ADD  CONSTRAINT [FK__Comment__KoiFarm__2E1BDC42] FOREIGN KEY([KoiFarmID])
REFERENCES [dbo].[KoiFarm] ([KoifarmID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__KoiFarm__2E1BDC42]
GO
ALTER TABLE [dbo].[Comment]  WITH NOCHECK ADD  CONSTRAINT [FK__Comment__KoiID__2C3393D0] FOREIGN KEY([KoiID])
REFERENCES [dbo].[Koi] ([KoiID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__KoiID__2C3393D0]
GO
ALTER TABLE [dbo].[Comment]  WITH NOCHECK ADD  CONSTRAINT [FK__Comment__MemberI__2D27B809] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__MemberI__2D27B809]
GO
ALTER TABLE [dbo].[InfoDetail]  WITH NOCHECK ADD  CONSTRAINT [FK__InfoDetai__KoiID__164452B1] FOREIGN KEY([KoiID])
REFERENCES [dbo].[Koi] ([KoiID])
GO
ALTER TABLE [dbo].[InfoDetail] CHECK CONSTRAINT [FK__InfoDetai__KoiID__164452B1]
GO
ALTER TABLE [dbo].[Koi]  WITH NOCHECK ADD  CONSTRAINT [FK__Koi__VarietyID__1367E606] FOREIGN KEY([VarietyID])
REFERENCES [dbo].[Variety] ([VarietyID])
GO
ALTER TABLE [dbo].[Koi] CHECK CONSTRAINT [FK__Koi__VarietyID__1367E606]
GO
ALTER TABLE [dbo].[Koi]  WITH NOCHECK ADD  CONSTRAINT [FK_Koi_KoiMomID] FOREIGN KEY([KoiID])
REFERENCES [dbo].[Koi] ([KoiID])
GO
ALTER TABLE [dbo].[Koi] CHECK CONSTRAINT [FK_Koi_KoiMomID]
GO
ALTER TABLE [dbo].[KoiFarm]  WITH NOCHECK ADD  CONSTRAINT [FK__KoiFarm__MemberI__21B6055D] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[KoiFarm] CHECK CONSTRAINT [FK__KoiFarm__MemberI__21B6055D]
GO
ALTER TABLE [dbo].[Media]  WITH NOCHECK ADD  CONSTRAINT [FK__Media__ModelId__4F7CD00D] FOREIGN KEY([ModelId])
REFERENCES [dbo].[InfoDetail] ([DetailID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK__Media__ModelId__4F7CD00D]
GO
ALTER TABLE [dbo].[Message]  WITH NOCHECK ADD  CONSTRAINT [FK__Message__MemberI__6E565CE8] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__MemberI__6E565CE8]
GO
ALTER TABLE [dbo].[Message]  WITH NOCHECK ADD  CONSTRAINT [FK__Message__SenderI__6F4A8121] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__SenderI__6F4A8121]
GO
ALTER TABLE [dbo].[Notification]  WITH NOCHECK ADD  CONSTRAINT [FK__Notificat__Membe__41B8C09B] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notificat__Membe__41B8C09B]
GO
ALTER TABLE [dbo].[Notification]  WITH NOCHECK ADD  CONSTRAINT [FK__Notificat__Sende__42ACE4D4] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notificat__Sende__42ACE4D4]
GO
ALTER TABLE [dbo].[Owner]  WITH NOCHECK ADD  CONSTRAINT [FK__Owner__KoiFarmID__29572725] FOREIGN KEY([KoiFarmID])
REFERENCES [dbo].[KoiFarm] ([KoifarmID])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK__Owner__KoiFarmID__29572725]
GO
ALTER TABLE [dbo].[Owner]  WITH NOCHECK ADD  CONSTRAINT [FK__Owner__KoiID__276EDEB3] FOREIGN KEY([KoiID])
REFERENCES [dbo].[Koi] ([KoiID])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK__Owner__KoiID__276EDEB3]
GO
ALTER TABLE [dbo].[Owner]  WITH NOCHECK ADD  CONSTRAINT [FK__Owner__MemberID__286302EC] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK__Owner__MemberID__286302EC]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK__Question__Member__3AA1AEB8] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK__Question__Member__3AA1AEB8]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK__QuesTion__TypeID_01] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK__QuesTion__TypeID_01]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK__Rate__AnswerID__442B18F2] FOREIGN KEY([AnswerID])
REFERENCES [dbo].[Answer] ([AnswerID])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK__Rate__AnswerID__442B18F2]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK__Rate__QuestionID__4336F4B9] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK__Rate__QuestionID__4336F4B9]
GO
ALTER TABLE [dbo].[Report]  WITH NOCHECK ADD  CONSTRAINT [FK_Report_MemberID_1] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_MemberID_1]
GO
ALTER TABLE [dbo].[Comment]  WITH NOCHECK ADD  CONSTRAINT [chk_Ratings] CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [chk_Ratings]
GO
USE [master]
GO
