<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui icon floating message">
            <i class="warning circle icon"></i>
            <div class="content">
                <div class="header">
                    Lỗi!
                </div>
                @{
                   
                        <p>Đã có lỗi xảy ra trong quá trình thực hiện yêu cầu của bạn! Chúng tôi sẽ khắc phục trong thời gian sớm nhất có thể. Chúng tôi rất tiếc vì sự cố này.</p>
                    
                }
            </div>
            <div class="media">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>
                    Quay về trang chủ
                </a>
            </div>
        </div>
    </div>
</div>


