
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<h2>Details</h2>

<div class="section site-main">
    <div class="container">
        <div class="row">
            <div class="box-cat col-md-12">
                <h1>Tin Tức</h1>
            </div><!--end box-cat-->
            <div class="bg-cat">
                <div class="row-new col-md-12">
                    <div class="over-img img-outer col-md-3">
                        <a href="#"><img class="image" src="images/Asagi1.jpg" title="#" alt="Thông báo lịch nghỉ mát hè 2016 của Akikoi"></a>
                    </div><!--end over-img-->
                    <div class="col-md-9">
                        <a href="#" title="Thông báo lịch nghỉ mát hè 2016 của Akikoi"><h3>Thông báo lịch nghỉ mát hè 2016 của Akikoi</h3></a>
                        <div class="shortdes">Nghỉ mát từ ngày 04/07-06/07/2016. Nghỉ mát từ ngày 04/07-06/07/2016. Thông báo lịch nghỉ mát hè 2016 của Akikoi </div>
                        <div class="new-detail">
                            <a href="#" title="Thông báo lịch nghỉ mát hè 2016 của Akikoi">Chi tiết.</a>
                        </div>
                    </div>
                </div><!--end row-new-->
            </div><!--end bg-cat-->
            <div class="bg-cat">
                <div class="row-new col-md-12">
                    <div class="over-img img-outer col-md-3">
                        <a href="#"><img class="image" src="images/Asagi1.jpg" title="#" alt="Thông báo lịch nghỉ mát hè 2016 của Akikoi"></a>
                    </div><!--end over-img-->
                    <div class="col-md-9">
                        <a href="#" title="Thông báo lịch nghỉ mát hè 2016 của Akikoi"><h3>Thông báo lịch nghỉ mát hè 2016 của Akikoi</h3></a>
                        <div class="shortdes">Nghỉ mát từ ngày 04/07-06/07/2016.</div>
                        <div class="new-detail">
                            <a href="#" title="Thông báo lịch nghỉ mát hè 2016 của Akikoi">Chi tiết.</a>
                        </div>
                    </div>
                </div><!--end row-new-->
            </div><!--end bg-cat-->
        </div>
    </div>
</div>

