
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap-social.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/social-buttons.css" rel="stylesheet" media="screen">
    <!-- Animo css-->
    <link href="~/Content/HBThemes/plugins/animo/animate+animo.css" rel="stylesheet" media="screen">
    <link href="~/Content/HBThemes/examples/carousel/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="~/Content/HBThemes/assets/css/font-awesome.css" media="screen" />
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
    <!-- Load jQuery -->
    <script src="~/Content/HBThemes/assets/js/jquery.v2.0.3.js"></script>
</head>

<body class="login-fullwidith">
    <div>
        <div class="container">
            <div class="row">
                @Html.Partial("_Manager")

                <div style="margin-top: 80px;" class="col-md-6 col-md-offset-1 well">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center" style="font-size: 200%;">Đổi mật khẩu</div>
                        </div>
                        <div style="padding-top: 30px" class="panel-body">
                            <div class="form-group">
                                <label for="oldPassword">Mật khẩu cũ (<span style="color: red;">*</span>)</label>
                                <input id="oldPassword" name="oldPassword" type="password" class="form-control" placeholder="Mật khẩu cũ">
                                <label id="lblMessage_oldPassword_fail" class="label-error"></label>
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu mới (<span style="color: red;">*</span>)</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu mới">
                                <label id="lblMessage_password_fail" class="label-error"></label>
                            </div>
                            <div class="form-group">
                                <label for="cmfPassword">Xác nhận mật khẩu (<span style="color: red;">*</span>)</label>
                                <input type="password" class="form-control" id="cmfPassword" name="cmfPassword" placeholder="Xác nhận mật khẩu">
                                <label id="lblMessage_cmfPassword_fail" class="label-error"></label>
                            </div>
                            <div class="text-center">
                                <label id="lblSendEmail" class="text-success" style="font-size: 14px;"></label>
                                <button class="btn btn-primary" id="btnChangePassword" style="width: 300px">Đổi mật khẩu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logical -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#oldPassword").focus();
            });
        });

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == "13") {
                if (Validate()) {
                    ChangePassword();
                } else {
                    return false;
                }
            }
        });

        $("#btnChangePassword").click(function () {
            if (Validate()) {
                ChangePassword();
            } else {

                return false;
            }
        });

        function Validate() {
            var oldPassword = $('#oldPassword').val();
            var password = $('#password').val();
            var cmfPassword = $('#cmfPassword').val();

            $('#lblMessage_oldPassword_fail').text("");
            $('#lblMessage_password_fail').text("");
            $('#lblMessage_cmfPassword_fail').text("");

            if (oldPassword == "") {
                $("#lblMessage_oldPassword_fail").text("Vui lòng nhập mật khẩu hiện tại.");
                $("#oldPassword").focus();
                return false;
            }
            if (password == "") {
                $("#lblMessage_password_fail").text("Vui lòng nhập mật khẩu");
                $("#password").focus();
                return false;
            }
            if (cmfPassword == "") {
                $("#lblMessage_cmfPassword_fail").text("Vui lòng nhập xác nhận mật khẩu");
                $("#password").focus();
                return false;
            }
            if (password.length < 6 && password.length > 32) {
                $("#lblMessage_password_fail").text("Vui lòng nhập mật khẩu hiện tại.");
                $("#oldPassword").focus();
                return false;
            }
            return true;
        }

        function ChangePassword() {
            var oldPassword = $('#oldPassword').val();
            var password = $('#password').val();
            var cmfPassword = $('#cmfPassword').val();

            $('#lblMessage_oldPassword_fail').text("");
            $('#lblMessage_password_fail').text("");
            $('#lblMessage_cmfPassword_fail').text("");
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword")",
                data: {
                    oldPassword: oldPassword,
                    password: password,
                    cmfPassword: cmfPassword
                },
                dataType: "Json",
                success: function (res) {
                    switch (res.Status) {
                        case 1:
                            $('#lblMessage_oldPassword_fail').text(res.Message);
                            $('#oldPassword').focus();
                            break;
                        case 2:
                            $('#lblMessage_password_fail').text(res.Message);
                            $('#password').focus();
                            break;
                        case 3:
                            $('#lblMessage_cmfPassword_fail').text(res.Message);
                            $('#cmfPassword').focus();
                            break;
                        case 0:
                            alert("Đổi mật khẩu thành công.");
                            window.location.href = res.RedirectTo;
                            break;
                    }
                }
            })
        }
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/HBThemes/dist/js/bootstrap.min.js"></script>
</body>
</html>

