
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}
@model KoiManagement.Models.Member
<div>
    </br>
    </br>
    </br>
    </br>
    <h2>Logint successfully</h2>
</div>


