@model KoiManagement.Models.Member
@{
    ViewBag.Title = "SentRequestPass";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

            <div class="section site-main">
                <div class="container">
                    <div class="box_left">
                        <div class="profile_info">
                            <div class="profile_left">
                                <a href="#">
                                    <img src="~/Content/Image/Member/@Model.Image" id="avatar" class="profile_img" alt="">
                                </a>
                                <!-- <a href="#" class="profile_edit">Đổi mật khẩu</a> -->
                                <!-- <a href="http://sharecode.vn/thanh-vien/thangnc-80839.htm" id="ContentPlaceHolder1_ContentPlaceHolder1_uscprofile1_LinkPageUser" class="profile_page">Trang cá nhân</a> -->
                            </div>
                        </div>
                        <div class="line"></div>
                        <a href="@Url.Action("ChangePassword", "Account")" class=" profile_link">
                            <h3 class="profile_item">Đổi mật khẩu</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("ManageAccount", "Account")" class="profile_link">
                            <h3 class="profile_item">Thông tin cá nhân</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("KoiUser", "Koi")" class="profile_link">
                            <h3 class="profile_item">Cá Koi của tôi [<span id="my_koi_count">0</span>]</h3>
                        </a>
                        <div class="line"></div>
                        <a href="#" class="profile_link">
                            <h3 class="profile_item">Trang trại của tôi [<span id="my_farm_count">0</span>]</h3>
                        </a>         
                    </div>
                    <div class="box_right">
                        <div class="title_box">
                            <h1 class="title2">Cá Koi của tôi</h1>
                            <div class="option_view_small">
                                
                                <button class="option_base_select_small" title="Xem thông tin cơ bản" type="button"></button>
                                <input type="submit" name="btnViewDetail" value="" id="btnViewDetail" title="Xem chi tiết thông tin" class="option_detail_small">
                                
                            </div>
                            <div id="ContentPlaceHolder1_ContentPlaceHolder1_ContentPlaceHolder2_regPanel" @*onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;btnSearch&#39;)"*@>

                                <input name="txtSearch" type="text" id="txtSearch" class="search_textbox_small search_textbox_small_margin" placeholder="Tìm kiếm">
                                <input type="submit" name="btnSearch" value="" id="btnSearch" class="btnSearch_hide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

