@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<div class="section site-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-block">
                    <h1>Tạo tài khoản</h1>
                        <div class="form-group">
                            <label for="name">Họ và tên</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                            <label id="lblMessage_name_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <!-- <label>Ngày sinh</label>
                            <div>
                                <select>
                                    <option>Ngày</option>
                                </select>
                                <select>
                                    <option>Tháng</option>
                                </select>
                                <select>
                                    <option>Năm</option>
                                </select>
                            </div> -->
                            <label for="dob">Ngày Sinh</label>
                            <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày Sinh">
                            <label id="lblMessage_dob_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            <label id="lblMessage_email_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="username">Tên đăng nhập*</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
                            <label id="lblMessage_username_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu*</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                            <label id="lblMessage_password_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="rePassword">Xác nhận mật khẩu*</label>
                            <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="Xác nhận mật khẩu">
                            <label id="lblMessage_rePassword_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
                            <label id="lblMessage_address_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                            <label id="lblMessage_phone_fail" class="label-error"></label>
                        </div>

                        <div class="form-group">
                            <button  class="btn btn-primary btn-block" id="btnregister" >Đăng ký</button>
                        </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#username").focus();
            });
            $(document).on('click', '#btnregister', function () {
                    Register();
            });
        });

        function Register() {
            var name = $('#name').val();
            var dob = $('#dob').val();
            var email = $('#email').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var rePassword = $('#rePassword').val();
            var address = $('#address').val();
            var phone = $('#phone').val();

            $('#lblMessage_username_fail').text("");
            $('#lblMessage_password_fail').text("");
            $('#lblMessage_rePassword_fail').text("");
            $('#lblMessage_name_fail').text("");
            $('#lblMessage_dob_fail').text("");
            $('#lblMessage_email_fail').text("");
            $('#lblMessage_address_fail').text("");
            $('#lblMessage_phone_fail').text("");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Register")",
                data: {
                    name: name,
                    dob: dob,
                    email: email,
                    username: username,
                    password: password,
                    rePassword: rePassword,
                    address: address,
                    phone: phone
                },
                dataType: "Json",
                success: function(res) {
                    switch (res.Status) {
                        case 1:
                            $('#lblMessage_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 2:
                            $('#lblMessage_password_fail').text(res.Message);
                            $('#password').focus();
                            break;
                        case 3:
                            $('#lblMessage_rePassword_fail').text(res.Message);
                            $('#rePassword').focus();
                            break;
                    
                        case 5:
                            $('#lblMessage_email_fail').text(res.Message);
                            $('#email').focus();
                            break;
                        case 6:
                            $('#lblMessage_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 7:
                            $('#lblMessage_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 8:
                            $('#lblMessage_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 9:
                            $('#lblMessage_password_fail').text(res.Message);
                            $('#password').focus();
                            break;
                        case 10:
                            $('#lblMessage_rePassword_fail').text(res.Message);
                            $('#rePassword').focus();
                            break;
                        case 11:
                            $('#lblMessage_name_fail').text(res.Message);
                            $('#name').focus();
                            break;
                        case 12:
                            $('#lblMessage_dob_fail').text(res.Message);
                            $('#dob').focus();
                            break;
                        case 13:
                            $('#lblMessage_email_fail').text(res.Message);
                            $('#email').focus();
                            break;
                        case 14:
                            $('#lblMessage_email_fail').text(res.Message);
                            $('#email').focus();
                            break;
                        case 15:
                            $('#lblMessage_phone_fail').text(res.Message);
                            $('#phone').focus();
                            break;
                        case 16:
                            $('#lblMessage_phone_fail').text(res.Message);
                            $('#phone').focus();
                            break;
                        case 17:
                            alert("Đăng kí thành công");
                            window.location.href = res.RedirectTo;
                            break;
                    }
                }
            });
        }
</script>
