@{
    ViewBag.Title = "Đăng kí";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<div class="section site-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-block">
                    <h1>Tạo tài khoản</h1>
                    <div class="form-group">
                        <label id="errorMessage" class="label-error"></label>
                    </div>
                        <div class="form-group">
                            <label for="name">Họ và tên</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                            <label id="lblMessage_name_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="dob">Ngày sinh</label>
                            <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày Sinh" >
                            <label id="lblMessage_dob_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="email">Email (<span style="color:red;">*</span>)</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            <label id="lblMessage_email_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="username">Tên đăng nhập (<span style="color:red;">*</span>)</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
                            <label id="lblMessage_username_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu (<span style="color:red;">*</span>)</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                            <label id="lblMessage_password_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="rePassword">Xác nhận mật khẩu (<span style="color:red;">*</span>)</label>
                            <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="Xác nhận mật khẩu">
                            <label id="lblMessage_rePassword_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
                            <label id="lblMessage_address_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                            <label id="lblMessage_phone_fail" class="label-error"></label>
                        </div>

                        <div class="form-group">
                            <button  class="btn btn-primary btn-block" id="btnregister" >Đăng ký</button>
                        </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#txtUserName").focus();
        });
    });

    // Process Keypress event
        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if (Validate()) {
                    Register();
                } else {
                    return false;
                }
            }
        });
        $('#btnregister').click(function () {
            if (Validate()) {
                Register();
            } else {

                return false;
            }
        });
        function isValidEmailAddress(emailAddress) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(emailAddress);
        };
        function isSpecialCharacter(userName) {
            var regex = /^[a-zA-Z0-9- ]*$/;
            return regex.test(userName);
        };
        function Validate() {
            var userName = $('#username').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var confirmPassword = $('#rePassword').val();
            $('#lblMessage_username_fail').text("");
            $('#lblMessage_email_fail').text("");
            $('#lblMessage_password_fail').text("");
            $('#lblMessage_rePassword_fail').text("");


            if (email == "") {
                $('#lblMessage_email_fail').text("Vui lòng nhập địa chỉ Email");
                $('#txtEmail').focus();
                return false;
            }
            else if (!isValidEmailAddress(email)) {
                $('#lblMessage_email_fail').text("Địa chỉ Email không đúng định dạng");
                $('#txtEmail').focus();
                return false;
            }
             else if (userName == "") {
                $('#lblMessage_username_fail').text("Vui lòng nhập tên đăng nhập");
                $('#txtUserName').focus();
                return false;
            } else if (!isSpecialCharacter(userName)) {
                $('#lblMessage_username_fail').text("Tên đăng nhập không được chứa ký tự đặc biệt");
                $('#txtUserName').focus();
                return false;
            } else if (userName.length < 6 || userName.length > 25) {
                $('#lblMessage_username_fail').text("Tên đăng nhập phải chứa từ 6 đến 25 ký tự");
                $('#txtUserName').focus();
                return false;
            }
            else if (password == "") {
                $('#lblMessage_password_fail').text("Vui lòng nhập mật khẩu");
                $('#txtPassword').focus();
                return false;
            }
            else if (password.length < 6 || password.length > 32) {
                $('#lblMessage_password_fail').text("Mật khẩu phải chứa từ 6 dến 32 ký tự");
                $('#txtPassword').focus();
                return false;
            }
            else if (confirmPassword == "") {
                $('#lblMessage_rePassword_fail').text("Vui lòng nhập lại mật khẩu");
                $('#txtConfirmPassword').focus();
                return false;
            }
            else if (password != confirmPassword) {
                $('#lblMessage_rePassword_fail').text("Xác nhận mật khẩu không trùng với mật khẩu");
                $('#txtConfirmPassword').focus();
                return false;
            }
            return true;
        }
        function Register() {
            var name = $('#name').val();
            var dob = $('#dob').val();
            var email = $('#email').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var rePassword = $('#rePassword').val();
            var address = $('#address').val();
            var phone = $('#phone').val();

            $('#lblMessage_username_fail').text("");
            $('#lblMessage_password_fail').text("");
            $('#lblMessage_rePassword_fail').text("");
            $('#lblMessage_name_fail').text("");
            $('#lblMessage_dob_fail').text("");
            $('#lblMessage_email_fail').text("");
            $('#lblMessage_address_fail').text("");
            $('#lblMessage_phone_fail').text("");
            $('#errorMessage').text("");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Register")",
                data: {
                    name: name,
                    dob: dob,
                    email: email,
                    username: username,
                    password: password,
                    rePassword: rePassword,
                    address: address,
                    phone: phone
                },
                dataType: "Json",
                success: function(res) {
                    switch (res.Status) {
                        case 1:
                            $('#lblMessage_name_fail').text(res.Message);
                            $('#name').focus();
                            break;
                        case 2:
                            $('#lblMessage_dob_fail').text(res.Message);
                            $('#dob').focus();
                            break;
                        case 3:
                            $('#lblMessage_email_fail').text(res.Message);
                            $('#email').focus();
                            break;
                        case 4:
                            $('#lblMessage_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 5:
                            $('#lblMessage_password_fail').text(res.Message);
                            $('#password').focus();
                            break;
                        case 6:
                            $('#lblMessage_rePassword_fail').text(res.Message);
                            $('#rePassword').focus();
                            break;
                        case 7:
                            $('#lblMessage_phone_fail').text(res.Message);
                            $('#phone').focus();
                            break;
                        case 8:
                            $('#errorMessage').text(res.Message);
                            $('#name').focus();
                            break;
                        case 9:
                            alert("Đăng kí thành công");
                            window.location.href = res.RedirectTo;
                            break;
                    }
                }
            });
        }
</script>
