
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}


    <div>
        <div class="container">
            <div class="row">
                <div style="margin-top:30px;" class="col-md-6 col-md-offset-3 well">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center" style="font-size: 200%;">Thay đổi mật khẩu</div>
                            <div style="float:right; font-size: 100%; position: relative; top:-10px"><a href="@Url.Action("Login", "Account")">Quay về đăng nhập</a></div>
                        </div>
                        <div style="padding-top: 30px" class="panel-body">
                            <div class="form-group">
                                <div class="text-center">
                                    <label style="font-size:30px;" class="label-error">@ViewBag.ErrorActiveCode</label>
                                </div>
                            </div>
                            @if (ViewBag.ErrorActiveCode == null)
                            {
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="txtPassword" type="password" class="form-control" placeholder="Mật khẩu mới">
                                    </div>
                                    <label id="lblPasswordFail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color: cornflowerblue"></i></span>
                                        <input id="txtConfirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu mới">
                                    </div>
                                    <label id="lblConfirmPasswordFail" class="label-error"></label>
                                </div>
    <input type="hidden" id="ActiveCode" name="ActiveCode" value="@ViewBag.actCode">
                                <div class="text-center">
                                    <label class="text-success" style="font-size: 14px;" id="lblResetSuccess"></label>
                                    <button class="btn btn-primary"  id="btnResetPasss" style="width: 300px">Thay đổi mật khẩu ngay</button>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logical -->
<script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $("#txtPassword").focus();
            });
        });

        // Process Keypress event
        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if (Validate()) {
                    ResetPassword();
                } else {
                    return false;
                }
            }
        });
        $('#btnResetPasss').click(function () {
            if (Validate()) {
                ResetPassword();
            } else {

                return false;
            }
        });
        function Validate() {
            var password = $('#txtPassword').val();
            var confirmPassword = $('#txtConfirmPassword').val();
            $('#lblPasswordFail').text("");
            $('#lblConfirmPasswordFail').text("");

            if (password == "") {
                $('#lblPasswordFail').text("Mật khẩu mới không được để trống");
                $('#txtPassword').focus();
                return false;
            }
            else if (password.length < 6||password.length >32) {
                $('#lblPasswordFail').text("Mật khẩu mới phải chứa từ 6 đến 32 ký tự");
                $('#txtPassword').focus();
                return false;
            }
            else if (confirmPassword == "") {
                $('#lblConfirmPasswordFail').text("Xác nhận mật khẩu mới không được để trống");
                $('#txtConfirmPassword').focus();
                return false;
            }
            else if (password != confirmPassword) {
                $('#lblConfirmPasswordFail').text("Xác nhận mật khẩu không trùng khớp");
                $('#txtConfirmPassword').focus();
                return false;
            }
            return true;
        }
        function ResetPassword() {
            var password = $('#txtPassword').val();
            var confirmPassword = $('#txtConfirmPassword').val();
            var actCode = $('#ActiveCode').val();
            $('#lblPasswordFail').text("");
            $('#lblConfirmPasswordFail').text("");
            $.ajax({
                type: "POST",
                url: "@Url.Action("ResetPassword")",
                data: {
                    password: password,
                    confirmPassword: confirmPassword,
                    actCode: actCode
                },
                dataType: "Json",
                success: function (res) {
                    switch (res.Status) {
                        case 1:
                            $('#lblPasswordFail').text(res.Message);
                            $('#txtPassword').focus();
                            break;
                        case 2:
                            $('#lblConfirmPasswordFail').text(res.Message);
                            $('#txtConfirmPassword').focus();
                            break;
                        case 3:
                            $('#lblResetSuccess').text(res.Message);
                            break;
                        case 0:
                            window.location.href = res.RedirectTo;
                            break;
                    }
                }
            })
        }
</script>
