
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}


    <div>
        <div class="container">
            <div class="row">
                <div style="margin-top:30px;" class="col-md-6 col-md-offset-3 well">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center" style="font-size: 200%;">Thay đổi mật khẩu</div>
                            <div style="float:right; font-size: 100%; position: relative; top:-10px"><a href="@Url.Action("Login","Login")">Quay về đăng nhập</a></div>
                        </div>
                        <div style="padding-top: 30px" class="panel-body">
                            <div class="form-group">
                                <div class="text-center">
                                    <label style="font-size:30px;" class="label-error">@ViewBag.ErrorActiveCode</label>
                                </div>
                            </div>
                            @if (ViewBag.ErrorActiveCode == null)
                            {
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="txtPassword" type="password" class="form-control" placeholder="Mật khẩu mới">
                                    </div>
                                    <label id="lblPasswordFail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color: cornflowerblue"></i></span>
                                        <input id="txtConfirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu mới">
                                    </div>
                                    <label id="lblConfirmPasswordFail" class="label-error"></label>
                                </div>
                                <div class="text-center">
                                    <label class="text-success" style="font-size: 14px;" id="lblResetSuccess"></label>
                                    <button class="btn btn-primary" type="submit" id="btnResetPasss" style="width: 300px">Thay đổi mật khẩu ngay</button>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

