
@{
    ViewBag.Title = "SentRequestPass";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<div class="section site-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-block">
                    <h1>Thay đổi thông tin</h1>
                    <form>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" disabled>
                        </div>
                        <div class="form-group">
                            <label for="username">Tên đăng nhập*</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" disabled>
                        </div>
                        <div class="form-group">
                            <label for="name">Họ và tên</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                            <label id="lblMessage_name_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label id="lblGender" for="gender">Giới tính:</label>
                            <label id="lblGender" class="radio-inline"><input type="radio" name="optradio" value="M">Nam</label>
                            <label id="lblGender" class="radio-inline"><input type="radio" name="optradio" value="F">>Nữ</label>
                            <label id="lblGender" class="radio-inline"><input type="radio" name="optradio" value="N">Không xác định</label>
                        </div>
                        <div class="form-group">
                            <!-- <label>Ngày sinh</label>
                            <div>
                                <select>
                                    <option>Ngày</option>
                                </select>
                                <select>
                                    <option>Tháng</option>
                                </select>
                                <select>
                                    <option>Năm</option>
                                </select>
                            </div> -->
                            <label for="dob">Ngày Sinh</label>
                            <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày Sinh">
                            <label id="lblMessage_dob_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
                            <label id="lblMessage_address_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                            <label id="lblMessage_phone_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Ảnh đại diện</label>
                            <input id="uploadFile" type="file" accept="image/png, image/jpeg, image/gif" name="image" class="img" onchange="loadFile(event)" />
                            <br />
                            <div><img id="imagePreview" src="images/blank.jpg" alt="" /></div>
                            <script>
                                var loadFile = function (event) {
                                    var output = document.getElementById('imagePreview');
                                    imagePreview.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="btnSaveProfile">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

