@model KoiManagement.Models.Member
@{
    ViewBag.Title = "SentRequestPass";
    Layout = "~/Views/Layout/MemberAccountLayout.cshtml";
}

<div class="section site-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                    <h1>Thay đổi thông tin</h1>
                    <form>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="email" value="@Model.Email" placeholder="Email" disabled>
                        </div>
                        <div class="form-group">
                            <label for="username">Tên đăng nhập*</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" disabled>
                        </div>
                        <div class="form-group">
                            <label for="name">Họ và tên</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                            <label id="lblMessage_name_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label id="lblGender" for="gender">Giới tính:</label>
                            <label id="lblGender" class="radio-inline"><input type="radio" name="optradio" value="M">Nam</label>
                            <label id="lblGender" class="radio-inline"><input type="radio" name="optradio" value="F">>Nữ</label>
                            <label id="lblGender" class="radio-inline"><input type="radio" name="optradio" value="N">Không xác định</label>
                        </div>
                        <div class="form-group">
                            <!-- <label>Ngày sinh</label>
                            <div>
                                <select>
                                    <option>Ngày</option>
                                </select>
                                <select>
                                    <option>Tháng</option>
                                </select>
                                <select>
                                    <option>Năm</option>
                                </select>
                            </div> -->
                            <label for="dob">Ngày Sinh</label>
                            <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày Sinh">
                            <label id="lblMessage_dob_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
                            <label id="lblMessage_address_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                            <label id="lblMessage_phone_fail" class="label-error"></label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Ảnh đại diện</label>
                            <input id="uploadFile" type="file" accept="image/png, image/jpeg, image/gif" name="image" class="img" onchange="loadFile(event)" />
                            <br />
                            <div><img id="imagePreview" src="images/blank.jpg" alt="" /></div>
                            <script>
                                var loadFile = function (event) {
                                    var output = document.getElementById('imagePreview');
                                    imagePreview.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" id="btnSaveProfile">Lưu</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document)
        .ready(function() {
            $(function() {
                $("#name").focus();
            });
        });

    $(document)
        .keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == "13") {
                if (Validate()) {
                    ChangePassword();
                } else {
                    return false;
                }
            }
        });

    $("#btnSaveProfile")
        .click(function() {
            if (Validate()) {
                UpdateProfile();
            } else {

                return false;
            }
        });

    function Validate() {
        var oldPassword = $('#oldPassword').val();
        var password = $('#password').val();
        var cmfPassword = $('#cmfPassword').val();

        $('#lblMessage_oldPassword_fail').text("");
        $('#lblMessage_password_fail').text("");
        $('#lblMessage_cmfPassword_fail').text("");

        if (oldPassword == "") {
            $("#lblMessage_oldPassword_fail").text("Vui lòng nhập mật khẩu hiện tại.");
            $("#oldPassword").focus();
            return false;
        }
        if (password == "") {
            $("#lblMessage_password_fail").text("Vui lòng nhập mật khẩu");
            $("#password").focus();
            return false;
        }
        if (cmfPassword == "") {
            $("#lblMessage_cmfPassword_fail").text("Vui lòng nhập xác nhận mật khẩu");
            $("#password").focus();
            return false;
        }
        if (password.length < 6 && password.length > 32) {
            $("#lblMessage_password_fail").text("Vui lòng nhập mật khẩu hiện tại.");
            $("#oldPassword").focus();
            return false;
        }
        return true;
    }

    function UpdateProfile() {
        var oldPassword = $('#oldPassword').val();
        var password = $('#password').val();
        var cmfPassword = $('#cmfPassword').val();

        $('#lblMessage_oldPassword_fail').text("");
        $('#lblMessage_password_fail').text("");
        $('#lblMessage_cmfPassword_fail').text("");
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateProfile")",
            data: {
            oldPassword: oldPassword,
            password: password,
            cmfPassword: cmfPassword
            },
        dataType: "Json",
        success: function (res) {
            switch (res.Status) {
                case 1:
                    $('#lblMessage_oldPassword_fail').text(res.Message);
                    $('#oldPassword').focus();
                    break;
                case 2:
                    $('#lblMessage_password_fail').text(res.Message);
                    $('#password').focus();
                    break;
                case 3:
                    $('#lblMessage_cmfPassword_fail').text(res.Message);
                    $('#cmfPassword').focus();
                    break;
                case 0:
                    alert("Đổi mật khẩu thành công.");
                    window.location.href = res.RedirectTo;
                    break;
            }
        }
    })
    }
</script>