@{
    MvcHtmlString token = null;
    try
    {
        token = Html.AntiForgeryToken();
    }
    catch { }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js"></script>


</head>

<body>
    <div id="wrapper">
        <header id="header">
            <div class="headerInner">
                <h1 class="head">@ViewBag.Header</h1>
                <div class="logoUsas">
                </div>
                <!-- /headerInner -->
            </div>
        </header>
        <div id="contents" class="clearfix">
            <!--Menu-->

            <div>
                @RenderBody()
            </div>

        </div>
        <footer id="footer"></footer>
    </div>
</body>
</html>


<script>
    __RequestVerificationToken = '@token';
    $(document).ready(function () {
        $.ajaxSetup({
            data: {
                __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
            }
        });

    });

    function DisableAjaxProcessing() {
        __ShowAjaxProcessing = false;
    }

</script>